@model ResultFooterAddressDto

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2"><a href="#" class="logo">Çokkeçeci<span>RentACar</span></a></h2>
                    <p>@Html.DisplayFor(x=>x.Description)</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Hızlı Linkler</h2>
                    <ul class="list-unstyled">
                        <li><a href="/About/Index" class="py-2 d-block">Hakkımızda</a></li>
                        <li><a href="#" class="py-2 d-block">Hizmetlerimiz</a></li>
                        <li><a href="#" class="py-2 d-block">Şartlar & Koşullar</a></li>
                        <li><a href="#" class="py-2 d-block">Güvenlik</a></li>
                        <li><a href="#" class="py-2 d-block">Çerez Politikası</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Müşteri Desteği</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Sıkça Sorulanlar</a></li>
                        <li><a href="#" class="py-2 d-block">Ödeme Yöntemleri</a></li>
                        <li><a href="/CarPricing/Index" class="py-2 d-block">Kiralama</a></li>
                        <li><a href="#" class="py-2 d-block">Nasıl Çalışır</a></li>
                        <li><a href="/Contact/Index" class="py-2 d-block">Bize Yazın</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Bir Sorunuz mu Var?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">@Html.DisplayFor(x=>x.Address)</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">@Html.DisplayFor(x=>x.Phone)</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text"> @Html.DisplayFor(x=>x.Mail)</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> Çokkeçeci RentACar. Tüm Hakları Saklıdır | Bu Sitenin Tasarımı  <a href="#" target="_blank">Çokkeçeci Yazılım</a> Tarafında Yapılmıştır
                </p>
            </div>
        </div>
    </div>
</footer>