
@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("_BlogDetailsMainComponentPartial", new { BlogId = ViewBag.BlogId })
            <div class="col-md-4 sidebar ftco-animate">
                @await Component.InvokeAsync("_BlogDetailSideBarSearchBoxComponentPartial")

                @await Component.InvokeAsync("_BlogDetailsCategoryViewComponentPartial")

                @await Component.InvokeAsync("_BlogDetailsRecentsBlogsComponentPartial")

                @await Component.InvokeAsync("_BlogDetailsTagCloudComponentPartial", new { BlogId = ViewBag.BlogId })

                @await Component.InvokeAsync("_BlogDetailsParagraphComponentPartial", new { BlogId = ViewBag.BlogId })
            </div>
        </div>
    </div>
</section>


<script>
    function updateProfileInitials() {
        const profiles = document.querySelectorAll('.profile-1');

        profiles.forEach(profile => {
            const name = profile.getAttribute('data-name');
            if (name) {
                const initials = name.split(' ').map(word => word[0]).join('');
                profile.textContent = initials;
            }
        });
    }

    // Sayfa yüklendiğinde bir kez çalıştır
    document.addEventListener('DOMContentLoaded', function () {
        updateProfileInitials();

        // Her 5 saniyede bir güncelleme yap (örnek olarak)
        setInterval(updateProfileInitials, 5000);
    });

</script>

