@model List<GetTagCloudByBlogIdDto>

<div class="tag-widget post-tag-container mb-5 mt-5">
    <div class="tagcloud">
        @foreach(var x in Model)
        {
            <a href="#" class="tag-cloud-link">@x.Title</a>
        }
    </div>
</div>