

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>BakiyeOdeme</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" />
    <meta name="author" content="Loop Dijital" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="google-site-verification" content="t2q0sja310dMVTTAfxD52tH3Ssu3enGL9y_VqdE89_A" />
    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PGN8YNTGLR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-PGN8YNTGLR');
    </script>
    <!-- End Google Analytics -->
    <link href="https://kart38.com/assets/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700|Rubik:400,500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://kart38.com/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />


    <link href="https://kart38.com/assets/css/style.css" rel="stylesheet" type="text/css" />

    <script src="https://kart38.com/assets/js/font-awesome-e1329018ac.js" crossorigin="anonymous"></script>
    <link href="https://kart38.com/assets/css/validetta.min.css" rel="stylesheet" type="text/css" />
    <style>
        td {
            width: 90%;
        }

        #collapseExample ul ul li {
            margin: .5rem !important
        }
    </style>

    <link rel="apple-touch-icon" sizes="180x180" href="https://kart38.com/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://kart38.com/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://kart38.com/assets/images/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="https://kart38.com/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
</head>
<body>
    <header class="home-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-11">
                    <ul class="menu_butons">
                        <li><a class="btn  btn-light" href="/KargoTakip/Kartlarim"><span>Online İşlemler</span> <img src="https://kart38.com/assets/images/icons/icon-9.png" alt="uye giris" /></a></li>
                        <li><a class="btn  btn-light" href="/uye/uyelogout"><span>Çıkış</span> <img src="https://kart38.com/assets/images/icons/icon-10.png" alt="uye ol" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 offset-sm-1 col-md-2 offset-md-0 col-lg-3 offset-lg-2 logo">
                    <a href="/"><img src="~/carbook-master/images/çokkeçecı kütüphaneleri Store (1).png" alt="Kart38 Logo" style="border-radius:50%;" /></a>
                </div>
                <div class="col-sm-7 col-md-10 col-lg-7 menubar">
                    <nav class="navbar navbar-expand-md navbar-ozel navbar-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu-list" aria-controls="navbar-menu-list" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-menu-list">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active hvr-underline-reveal">
                                    <a class="nav-link" href="/KargoTakip/KitapKartNedir"><img src="https://kart38.com/assets/images/icons/icon-6.png" alt="icon-4" /><span>KitapKart <br /> Nedir?</span></a>
                                </li>
                                <li class="nav-item hvr-underline-reveal">
                                    <a class="nav-link" href="/islem-merkezi"><img src="https://kart38.com/assets/images/icons/icon-4.png" alt="icon-6" /><span>Nereden <br /> Alınır</span></a>
                                </li>
                                <li class="nav-item hvr-underline-reveal">
                                    <a class="nav-link" href="/KargoTakip/KitapKartTarifeleri"><img src="https://kart38.com/assets/images/icons/icon-5.png" alt="icon-5" /><span>KitapKart <br />Tarifeler</span></a>
                                </li>
                                <li class="nav-item hvr-underline-reveal">
                                    <a class="nav-link" href="/islemler"><img src="https://kart38.com/assets/images/icons/icon-7.png" alt="icon-7" /><span> KitapKart <br /> İşlemler</span></a>
                                </li>
                                <li class="nav-item hvr-underline-reveal" style="display:none">
                                    <a class="nav-link" href="/kart-basvuru"><img src="https://kart38.com/assets/images/icons/online-basvuru.png" alt="icon-8" /><span> Online <br /> Başvuru</span></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="seperator sep01" style="clear:both">
            <span class="up"></span><span></span>
        </div>
        <div class="short" style="background: #001436; padding:15px 0">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4 style="margin-bottom:0;color: #898989;"><a href="/" style="color:#fff">Anasayfa</a><span> / </span> <a href="javascript:;" style="color:#cacaca;font-size: 22px;">Para Y&#252;kleme</a></h4>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <div class="content">
        <section class="leftmenu sp-50">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3 leftmenubg">
                        <div class="card leftsidemenu">
                            <article class="card-group-item">
                                <h6 class="title">KitapKart<br /> ONLINE İŞLEMLER </h6>
                                <div class="filter-content">
                                    <div class="list-group list-group-flush">
                                        <a href="/KargoTakip/Kartlarim" class="liste-item"><i class="fa fa-chevron-right"></i> KitapKart'larım  </a>
                                        <a href="/onlineislem/basvurularim" class="liste-item "><i class="fa fa-chevron-right"></i> Başvurularım  </a>
                                        <a href="/KargoTakip/KartTanimlama" class="liste-item"><i class="fa fa-chevron-right"></i> KitapKart Tanımlama   </a>
                                        <a href="/KargoTakip/ParaYukleme" class="liste-item"><i class="fa fa-chevron-right"></i> Para Yükleme </a>
                                        <a href="/kart-basvuru" class="liste-item "><i class="fa fa-chevron-right"></i> KitapKart Başvuru   </a>

                                    </div>
                                </div>
                            </article>
                            <article class="card-group-item">
                                <h6 class="title">PROFİL İŞLEMLERİ </h6>
                                <div class="filter-content">
                                    <div class="list-group list-group-flush">
                                        <a href="/KargoTakip/bilgiguncelleme" class="liste-item "><i class="fa fa-chevron-right"></i> Bilgi Güncelleme  </a>
                                        <a href="/KargoTakip/SifreYenileme" class="liste-item "><i class="fa fa-chevron-right"></i> Şifre Değiştirme  </a>
                                        <a href="/KargoTakip/KayseriUlasimKart" class="liste-item "><i class="fa fa-chevron-right"></i> Kart Hareketleri  </a>
                                        <a href="/iletisim" class="liste-item last "><i class="fa fa-chevron-right"></i> Destek </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="col-md-9 icerik">
                        <h2 class="icerikTitle">İşlem Özeti</h2>
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">İşlem</th>
                                    <th scope="col">Tutar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Bakiye Yükleme
                                    </td>
                                    <td>200.00 ₺</td>
                                </tr>
                                <tr>
                                    <td>Hizmet Bedeli</td>
                                    <td>0.00 ₺</td>
                                </tr>
                                <tr>
                                    <td>Toplam</td>
                                    <td>200.00 ₺ </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="card-wrapper"></div>
                        <div class="form-container active">

                            <form id="front-card" method="post">
                                <h3 style="color: #b60000;font-weight: 600;">
                                    Kart Bilgileri
                                </h3>
                                <div class="form-row">
                                    <div class="form-group  col-sm-6">
                                        <input type="text" class="form-control" id="kartsahip" name="name" data-validetta="required,regExp[regname]" placeholder="Kart Sahibinin Adı Soyadı" value="">
                                    </div>
                                    <div class="form-group  col-md-6">
                                        <input type="text" class="form-control" id="cardno" name="pan" data-validetta="required,creditCard" placeholder="Kart Numarası" value="" autocomplete="nope">
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="form-group  col-sm-6">
                                        <input type="text" class="form-control" id="expiry" name="expiry" data-validetta="required" placeholder="MM/YY" value="" autocomplete="nope">
                                    </div>
                                    <div class="form-group  col-md-6">
                                        <input type="text" class="form-control" id="cv2" name="cv2" placeholder="CVC" data-validetta="number,required,minLength[3],maxLength[4]" value="" autocomplete="nope">
                                    </div>
                                </div>
                                <div class="hidden">

                                    <input type="hidden" name="clientid" value="190406583" />
                                    <input type="hidden" name="amount" value="200.00" />
                                    <input type="hidden" name="oid" value="TPRMSWEoW3qkiOqNxr8u" />
                                    <input type="hidden" name="okUrl" value="https://kart38.com/OnlineIslem/BakiyeYuklendi" />
                                    <input type="hidden" name="failUrl" value="https://kart38.com/OnlineIslem/HataliOdeme" />
                                    <input type="hidden" name="rnd" value="2/21/2024 11:53:25 AM" />
                                    <input type="hidden" name="hash" value="CERkNxEIFC80OeAXhE3+IgAZdhQ=" />
                                    <input type="hidden" name="islemtipi" value="Auth" />
                                    <input type="hidden" name="taksit" value="" />
                                    <input type="hidden" name="storetype" value="3d" />
                                    <input type="hidden" name="lang" value="en" />
                                    <input type="hidden" name="currency" value="949" />
                                    <input type="hidden" id="ExpYear" name="Ecom_Payment_Card_ExpDate_Year" />
                                    <input type="hidden" id="ExpDate" name="Ecom_Payment_Card_ExpDate_Month" />
                                    <input type="hidden" name="otherCard" value="false" />
                                    <input type="hidden" name="returnUrl" value="KartimaBakiyeYukle" />
                                </div>
                                <p>
                                    <input type="checkbox" name="terms" id="terms" data-validetta="required">
                                    <a id="mesafeli-satis-sozlesmesi-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Mesafeli Satış Ön Bilgilendirme  Formu ve Sözleşmesi'ni</a>
                                    <label for="terms" id="terms-label">okudum, kabul ediyorum.</label>
                                </p>

                                <button type="submit" class="btn btn-primary" style="margin: 15px 0;text-align: right;">
                                    <i class="fa fa-arrow-right"></i> İLERİ
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <h3>Kart38 Mesafeli Satış Sözleşmesi ve Ön Bilgilendirme Formu</h3>
                                <ul>
                                    <li>
                                        <strong> Ön Bilgilendirme Formu</strong>
                                        <br>
                                        İşbu Ön Bilgilendirme Formu’nun konusu Alıcı’nın, aşağıda nitelik ve satış fiyatı belirtilen ürün ya da ürünlerin satışı ve teslimi ile ilgili olarak 6502 sayılı Tüketicilerin Korunması Hakkında Kanun ve 27 Şubat 2015 tarihli ve 29188 sayılı Resmi Gazetede yayınlanan Mesafeli Sözleşmelere Dair Yönetmelik hükümleri gereğince bilgilendirilmesidir.
                                        <ul>
                                            <li>
                                                <strong>Madde 1 – Taraflar</strong>
                                                <br>
                                                <strong>1.1.</strong> Satıcı
                                                <br>
                                                Kayseri Ulaşım Turizm İnşaat Taahhüt Proje Müşavirlik Telekomünikasyon San. Ve Tic.A.Ş. – Organize Sanayi Bölgesi 9. Cad No:2 38070 Melikgazi /Kayseri– +90 352 207 70 00 – bilgi@kayseriulasim.com
                                                <br>
                                                <strong>1.2.</strong> Alıcı
                                                <br>
                                                Kayseri İli sınırları içerisinde toplu ulaşımda ücret ödenmesine olanak sağlayan Kart38’e, belirlenen hizmet bedeli karşılığında, ulaşımda kullanılmak üzere dolum yapan ve sözleşme hükümlerini okuyup kabul eden gerçek ve/veya tüzel kişilerdir.
                                            </li>
                                            <li>
                                                <strong>Madde 2 – Sözleşmenin Konusu</strong>
                                                <br>
                                                İşbu sözleşmenin konusu, Alıcı’nın Satıcı’ya ait https://www.Kart38.com internet sitesi üzerinden elektronik ortamda siparişini yaptığı aşağıda nitelikleri ve hizmet/satış ücreti belirtilen hizmetin/ürünün satışı ve teslimi ile ilgili olarak tarafların hak ve yükümlülüklerinin saptanarak hizmetin verilmesi/satışın yapılmasıdır. <br>
                                            </li>
                                            <li>
                                                <strong>Madde3 – Ödeme</strong>
                                                <br>
                                                Kart38’e kredi kartı ile https://www.Kart38.com internet adresi üzerinden yapılan dolum işlemlerinde kredi kartı kullanılmaktadır. <br>
                                            </li>
                                            <li>
                                                <strong>Madde 4- Cayma Hakkı</strong>
                                                <br>
                                                Alıcının, mesafeli satış yöntemiyle hizmet satın alması halinde hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe göstermeksizin sözleşmenin imzalandığı tarihten itibaren 14 (on dört) gün içerisinde, teslim aldığı malı veya hizmeti reddederek sözleşmeden cayma hakkı bulunmaktadır. <br>
                                            </li>
                                            <li>
                                                <strong>Madde 5- Cayma Hakkının Kullanılamayacağı Durumlar</strong>
                                                <br>
                                                a) Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve satıcı veya sağlayıcının kontrolünde olmayan mal veya hizmetlere ilişkin sözleşmeler. <br>
                                                b) Tüketicinin istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan mallara ilişkin sözleşmeler. <br>
                                                c) Çabuk bozulabilen veya son kullanma tarihi geçebilecek malların teslimine ilişkin sözleşmeler. <br>
                                                ç) Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan mallardan; iadesi sağlık ve hijyen açısından uygun olmayanların teslimine ilişkin sözleşmeler. <br>
                                                d) Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan mallara ilişkin sözleşmeler. <br>
                                                e) Malın tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması halinde maddi ortamda sunulan kitap, dijital içerik ve bilgisayar sarf malzemelerine ilişkin sözleşmeler. <br>
                                                f) Abonelik sözleşmesi kapsamında sağlananlar dışında, gazete ve dergi gibi süreli yayınların teslimine ilişkin sözleşmeler. <br>
                                                g) Belirli bir tarihte veya dönemde yapılması gereken, konaklama, eşya taşıma, araba kiralama, yiyecek-içecek tedariki ve eğlence veya dinlenme amacıyla yapılan boş zamanın değerlendirilmesine ilişkin sözleşmeler. <br>
                                                ğ) Elektronik ortamda anında ifa edilen hizmetler veya tüketiciye anında teslim edilen gayrimaddi mallara ilişkin sözleşmeler. <br>
                                                h) Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetlere ilişkin sözleşmeler. <br>

                                            </li>
                                            <li>
                                                <strong>Madde 6- Geçerlilik</strong>
                                                <br>
                                                İşbu ön bilgilendirme formu, elektronik ortamda Alıcı tarafından okunarak kabul edildikten sonra Kart38 Mesafeli Satış Sözleşmesi kurulması aşamasına geçilecektir.
                                            </li>
                                            <li>
                                                <strong>Madde 7- Yetkili Mahkeme</strong>
                                                <br>
                                                Alıcı her tür şikâyet için Madde 1’deki Satıcı iletişim adreslerine yapabilir. Alıcı, bu sözleşmeden doğan uyuşmazlık konusundaki başvurularını Tüketici Mahkemesine ya da Tüketici Hakem Heyetine yapabilir.
                                            </li>
                                        </ul>
                                        <strong>Alıcı, 6502 sayılı Tüketicinin Korunması Hakkında Kanun 48. Maddesi gereğince Ön bilgileri okuyup bilgi sahibi olduğunu ve elektronik ortamda gerekli teyidi verdiğini kabul, taahhüt ve beyan eder.</strong>
                                        <br /><br />
                                    </li>
                                    <li>

                                        <strong>2. Kart38 Mesafeli Satış Sözleşmesi</strong>
                                        <br>
                                        <ul>
                                            <li>
                                                <strong>1.TARAFLAR</strong>
                                                <br>
                                                <strong>1.1.</strong> Satıcı
                                                <br>
                                                Kayseri Ulaşım Turizm İnşaat Taahhüt Proje Müşavirlik Telekomünikasyon San. Ve Tic.A.Ş. – Organize Sanayi Bölgesi 9. Cad No:2 38070 Melikgazi /Kayseri– +90 352 207 70 00 – bilgi@kayseriulasim.com
                                                <br>
                                                <strong>1.2.</strong> Alıcı
                                                <br>
                                                Kayseri İli sınırları içerisinde toplu ulaşımda ücret ödenmesine olanak sağlayan Kart38’e, belirlenen hizmet bedeli karşılığında, ulaşımda kullanılmak üzere dolum yapan ve sözleşme hükümlerini okuyup kabul eden gerçek ve/veya tüzel kişilerdir.
                                                <br><br>
                                            </li>
                                            <li>
                                                <strong>2. SÖZLEŞMENİN KONUSU</strong>
                                                <br>
                                                İşbu sözleşmenin konusu, Alıcı’nın Satıcı’ya ait https://www.Kart38.com internet sitesi üzerinden elektronik ortamda siparişini yaptığı aşağıda nitelikleri ve hizmet/satış ücreti belirtilen hizmetin/ürünün satışı ve teslimi ile ilgili olarak tarafların hak ve yükümlülüklerinin saptanarak hizmetin verilmesi/satışın yapılmasıdır.
                                                <br />
                                                Alıcı, satıcının isim, unvan, açık adres, telefon ve diğer iletişim bilgileri , satışa konu malın temel nitelikleri, vergiler dahil olmak üzere satış fiyatı, ödeme sekli, teslimat koşulları ve masrafları vs. satışa konu mal ile ilgili tüm ön bilgiler ve “cayma” hakkının kullanılması ve bu hakkın nasıl kullanılacağı, şikayet ve itirazlarını iletebilecekleri resmi makamlar vs. konusunda açık, anlaşılır ve internet ortamına uygun şekilde satıcı tarafından bilgilendirildiğini, bu ön bilgileri elektronik ortamda teyit ettiğini ve sonrasında mal sipariş verdiğini iş bu sözleşme hükümlerince kabul ve beyan eder.
                                            </li>
                                            <li>
                                                <strong>3.TANIMLAR</strong>
                                                <br>
                                                <strong>Satıcı :</strong> Kayseri Ulaşım Turizm İnşaat Taahhüt Proje Müşavirlik Telekomünikasyon San. Ve Tic.A.Ş.<br />
                                                <strong>Alıcı :</strong> Kayseri İli sınırları içerisinde toplu ulaşımda ücret ödenmesine olanak sağlayan Kart38’e, belirlenen hizmet bedeli karşılığında, ulaşımda kullanılmak üzere dolum yapan ve sözleşme hükümlerini okuyup kabul eden gerçek ve/veya tüzel kişiler.<br />
                                                <strong>Kart38 :</strong> Kayseri de şehir içi ve şehir içi ile ilçeler arası toplu taşıma araçlarında, ulaşım hizmeti için ödenmesi gereken biniş ücretinin ödeme işleminde kullanılan ulaşım kartı.<br />
                                                <strong>Dolum Miktarı :</strong> Alıcı’nın Kart38’e, ulaşımda kullanmak üzere doldurduğu tutar.<br />
                                                <strong>Hizmet Bedeli :</strong> Satıcı tarafından, sözleşme konusu olan her bir Kart38’e ulaşım bakiyesi dolum işlemi için alınacak olan Hizmet Bedeli tutarıdır. Bu bedel yapılan her bir dolum işlemi için, dolum miktarının KDV dahil %5’ini ifade eder.<br />
                                                <strong>Kredi Kartı :</strong> Kart38’e, https://www.Kart38.com internet adresi üzerinden Kayseri Büyükşehir Belediyesi şehir içi ve şehir içi ile ilçeler arası toplu ulaşımda kullanılmak üzere dolum yapılması için kullanılan; bankalar ve çıkartmaya bazı yetkili finansman kuruluşları tarafından müşterilerine belirli limitler dahilinde açtıkları kredilerle, nakit kullanmaksızın mal ve hizmet alabilmeleri, nakit kredi çekebilmeleri için verdikleri ödeme aracıdır.<br />
                                            </li>
                                            <li>
                                                <strong>Madde 4 – Hizmetin Temel Nitelikleri</strong>
                                                <br>
                                                4.1. Kayseri de şehir içi ve şehir içi ile ilçeler arası toplu ulaşımda ücret ödeme işleminde kullanılan Kart38’e, satıcı tarafından belirlenen hizmet bedeli karşılığında, kredi kartı ile https://www.Kart38.com internet üzerinden, Alıcı tarafından belirlenen tutarda dolum yapılmasıdır.<br />
                                                4.2. Kredi kartı ile Kart38’e yapılan dolum, toplu ulaşımda kullanılan kart okuma cihazlarına (otobüslerde, tramvay istasyonu girişlerinde yer alan turnikelerdeki vb.) Kart38’in okutulması sonrasında aynı gün içerisinde gerçekleşecektir. Kart38’e yapılan söz konusu dolum miktarı ve hizmet bedeli, Alıcı’nın işlem sırasında kullandığı kredi kartından tahsil edilecektir.<br />
                                                4.3. Alıcı, Kart38’e dolum işlemini kredi kartı üzerinden yapmakla birlikte işbu sözleşme hükümlerini kabul etmiş sayıldığını kabul ve taahhüt eder.<br />
                                                4.4. Kart38’e yapılan dolum işlemi sonrasında, dolum miktarı ve hizmet bedeli Alıcı tarafından onaylandıktan sonra, Alıcı’nın bilgilerini verdiği kredi kartından tahsil edilecektir. Alıcı bu tahsilat işlemi için Satıcı’yı yetkili kılacaktır.<br />
                                                4.5. Aynı şekilde, dolum işlemi sırasında; Hizmet Bedeli’ni Alıcı, kredi kartından Satıcı’ya ödemeyi kabul, beyan ve taahhüt eder.<br />
                                                4.6. Alıcı, işlem sırasında verdiği tüm bilgilerin doğru olduğunu, herhangi bir bilgi hatasından Satıcı’nın sorumlu olmayacağını kabul ve beyan eder.<br />
                                                4.7. Alıcı, elektronik ödemelerine ilişkin tahsilatın yapılıp yapılmadığını kontrol etmekle yükümlü olup, Satıcı tarafından Alıcı’nın kredi kartından gerçekleştirilecek tahsilatın teknik bir aksaklık dahil olmak üzere herhangi bir sebeple gerçekleştirilememesi halinde, Kart38’e dolum yapılmayacağını kabul eder.<br />
                                                4.9. Alıcı, Satıcı’nın verdiği hizmetler sırasında oluşabilecek arıza vb. teknik sebepler ile bu hizmetlerin verilmesine ara veya son verilmesi yahut hizmetin kesintiye uğramasından, donanım, yazılım ve internet servis sağlayıcılarından kaynaklanan aksaklıklar sonucu 3. şahısların kendisine ait bilgilere erişimi nedeniyle, üçüncü kişilerin müşteriye ait bilgilere erişimi sonucunda; müşterinin uğradığı zarardan, bankacılık sisteminden kaynaklı eksik veya yanlış bilgi sebebi ile hizmet alınamaması durumlarından Satıcı’nın sorumlu olmayacağını kabul ve beyan eder.<br />
                                                4.10. Kredi Kartı ile Kart38'e yapılan dolum işlemleri sonucunda, dolum yapılan Kart38 sadece Kayseri Büyükşehir Belediyesi sınırları içerisinde, Belediye'nin hizmet verdiği ve ulaşımda ödeme işlemlerinde Kart38'in kullanıldığı şehir içi ve şehir içi ile ilçeler arası toplu ulaşım araçlarında, ulaşım ücretini ödeme işlemlerinde kullanılabilecektir.<br />
                                            </li>
                                            <li>
                                                <strong>Madde 5 – Satıcının Hak ve Yükümlülükleri</strong>
                                                <br>
                                                Satıcı, 6502 sayılı Tüketicilerin Korunması Hakkındaki Kanun ve Mesafeli Sözleşmelere Dair Yönetmelik hükümleri uyarınca sözleşmede kendisine yüklenen edimleri mücbir haller dışında eksiksiz yerine getirmeyi kabul ve taahhüt eder. <br>
                                            </li>
                                            <li>
                                                <strong>Madde 6 – Alıcının Hak ve Yükümlülükleri </strong>
                                                <br>
                                                6.1. Alıcı, sözleşmede kendisine yüklenen edimleri mücbir sebepler dışında eksiksiz yerine getirmeyi kabul ve taahhüt eder.<br />
                                                6.2. Alıcı, https://www.Kart38.com internet sitesinden üzerinden satıcının isim, unvan, açık adres, telefon ve diğer erişim bilgileri , satışa konu malın temel nitelikleri, vergiler dahil olmak üzere satış fiyatı , ödeme sekli, teslimat koşulları ve masrafları vs. satışa konu mal ile ilgili tüm ön bilgiler ve “cayma” hakkının kullanılması ve bu hakkın nasıl kullanılacağı , şikayet ve itirazlarını iletebilecekleri resmi makamlar vs. konusunda açık , anlaşılır ve internet ortamına uygun şekilde bilgi sahibi olduğunu bu ön bilgileri elektronik ortamda teyit ettiğini kabul ve beyan eder.<br />
                                                6.3. Kart38 yalnızca Satıcı ile arasında işbu sözleşme akdedilen gerçek/tüzel kişilik için kullanılabilecektir. Aksi takdirde Kart kullanımından oluşacak riskler ve tüm sorumluluk sözleşme sahibi Alıcı’ya ait olacaktır. Alıcı kartın kullanım hakkını kısmen de olsa başka bir kişiye devredemez. İşbu maddeye aykırılık halinde Satıcı, herhangi bir bildirime gerek olmaksızın kartı iptal etme hakkına sahiptir, ayrıca oluşacak riskler kartın Alıcısına ait olacaktır.<br />
                                                6.4. İndirimli Kart38 sahipleri, en yakın Kart38 İşlem Merkezi’ne başvurarak kayıp/çalıntı kart bildiriminde bulunabilirler.<br />
                                            </li>
                                            <li>
                                                <strong>
                                                    Madde 7 – Ödeme
                                                </strong>
                                                <br>
                                                Kart38’a kredi kartı ile https://www.Kart38.com internet adresi üzerinden yapılan yükleme işlemlerinde kredi kartı kullanılmaktadır. Kart38’a dolum yapılırken, kredi kartından yapılan ödeme işlemi peşin satış işlemidir. Alıcı ile kredi kartını veren Banka veya finansal kuruluş arasında, Satıcı’nın bilgisi olmadan, kampanya ve/veya benzeri uygulamalar sebebi ile yapılan peşin satış işleminin taksitli bir işlem haline gelmesi durumunda, Alıcı ve kredi kartını veren Banka veya finansal kuruluş, yürürlükte bulunan mevzuat hükümleri gereğince faiz ve temerrüt faizi ile ilgili hükümlerin Banka ve finansal kuruluş ve Alıcı arasındaki kredi kartı sözleşmesi kapsamında uygulanacağını kabul, beyan ve taahhüt eder. <br />
                                                Ayrıca Alıcı, Satıcı’nın bilgisi olmadan yapılan peşin satış işleminin taksitli satış haline gelmesi sebebiyle yapılan işlem ile ilgili olarak, Alıcı ile kartı veren Banka veya finansal kuruluş arasındaki anlaşmazlık durumlarda, Alıcı Satıcı’nın hiçbir sorumluluğunun olmadığını ve Satıcı’dan hiç bir şekilde bir talepte bulunmayacağını kabul ve beyan eder.<br />
                                            </li>
                                            <li>
                                                <strong>Madde 8 – Cayma Hakkı</strong>
                                                <br>
                                                Alıcı’nın hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe göstermeksizin hizmet ifasına ilişkin sözleşmelerde sözleşmenin kurulduğu gün; mal teslimine ilişkin sözleşmelerde ise malın teslim alındığı günden itibaren 14 (on dört) gün içerisinde malı veya hizmeti reddederek sözleşmeden cayma hakkına sahiptir. Cayma hakkının kullanıldığına dair bildirimin cayma hakkı süresi dolmadan, yazılı olarak veya kalıcı veri saklayıcısı ile Satıcı’ya yöneltilmesi yeterlidir. Ancak aşağıda belirtilen durumların varlığında Alıcı’nın cayma hakkı bulunmayacaktır.
                                                <br />
                                                a) Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve satıcı veya sağlayıcının kontrolünde olmayan mal veya hizmetlere ilişkin sözleşmeler. <br />
                                                b) Tüketicinin istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan mallara ilişkin sözleşmeler. <br />
                                                c) Çabuk bozulabilen veya son kullanma tarihi geçebilecek malların teslimine ilişkin sözleşmeler. <br />
                                                ç) Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan mallardan; iadesi sağlık ve hijyen açısından uygun olmayanların teslimine ilişkin sözleşmeler. <br />
                                                d) Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan mallara ilişkin sözleşmeler. <br />
                                                e) Malın tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması halinde maddi ortamda sunulan kitap, dijital içerik ve bilgisayar sarf malzemelerine ilişkin sözleşmeler. <br />
                                                f) Abonelik sözleşmesi kapsamında sağlananlar dışında, gazete ve dergi gibi süreli yayınların teslimine ilişkin sözleşmeler. <br />
                                                g) Belirli bir tarihte veya dönemde yapılması gereken, konaklama, eşya taşıma, araba kiralama, yiyecek-içecek tedariki ve eğlence veya dinlenme amacıyla yapılan boş zamanın değerlendirilmesine ilişkin sözleşmeler. <br />
                                                ğ) Elektronik ortamda anında ifa edilen hizmetler veya tüketiciye anında teslim edilen gayrimaddi mallara ilişkin sözleşmeler. <br />
                                                h) Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetlere ilişkin sözleşmeler.
                                            </li>
                                            <li>
                                                <strong>Madde 9 – Gizlilik</strong>
                                                <br>
                                                Alıcı tarafından iş bu sözleşmede belirtilen bilgiler ile ödeme yapmak amacı ile satıcıya bildirdiği bilgiler satıcı tarafından 3. şahıslarla paylaşılmayacaktır. Satıcı bu bilgileri sadece idari/ yasal zorunluluğun mevcudiyeti çerçevesinde açıklayabilecektir. Araştırma ehliyeti belgelenmiş her türlü adli soruşturma dahilinde satıcı kendisinden istenen bilgiyi elinde bulunduruyorsa ilgili makama sağlayabilir.<br />
                                            </li>
                                            <li>
                                                <strong>Madde 10- Delil</strong>
                                                <br>
                                                Satıcı ve Alıcı arasında Kart38’ın kullanımı, dolum işlemi ve bu işlemden kaynaklı ödemeler ile ilgili oluşabilecek her türlü uyuşmazlıklarda, Satıcı’nın ve kredi kartı ile ödeme işlemine aracılık yapan bankanın kayıtları esas alınacak ve bu kayıtlar HMK.’nun 193. maddesi gereği kesin delil olacaktır.
                                            </li>

                                            <li>
                                                <strong>Madde 11 – Uyuşmazlık Durumunda Yetkili Mahkeme </strong>
                                                <br>
                                                Alıcı Alıcı her tür şikâyet için Satıcı'ya bildirir. Şikayet için Satıcı’nın açık adres, telefon, ve varsa diğer iletişim bilgileri : Kayseri Ulaşım Turizm İnşaat Taahhüt Proje Müşavirlik Telekomünikasyon San. Ve Tic.A.Ş. – Organize Sanayi Bölgesi 9. Cad No:2 38070 Melikgazi /Kayseri– +90 352 207 70 00 – bilgi@kayseriulasim.com
                                                Satıcının sorunu çözememesi halinde Tüketiciler, şikayet ve itirazları konusunda başvurularını, Gümrük ve Ticaret Bakanlığı'nca her yıl Aralık ayında belirlenen parasal sınırlar dahilinde, tüketicinin malı satın aldığı veya ikametgahının bulunduğu yerdeki tüketici sorunları hakem heyetine veya tüketici mahkemesine yapabilirler. <br />

                                            </li>
                                            <li>
                                                <strong>Madde 12- Sözleşme Süresi</strong>
                                                <br>
                                                12.1. İşbu sözleşme Alıcı ile Satıcı arasındaki sözleşme iptal edilmediği, devam ettiği sürece geçerli olmak üzere akdedilmiştir.<br />
                                                12.2. Sözleşme yürürlük süresince Satıcının sözleşmeden doğan yükümlülüklerini, bilgi işlem veya iletişim sistemlerinde veya makine ve teçhizatta ortaya çıkacak arızalar, grev, işi bırakma veya benzeri toplumsal olaylar nedeniyle yerine getirememesi veya ihbarname gönderilerek veya Satıcı internet sayfasından, Alıcının kayıt sırasında verdiği telefona/mail adresine bildirim ile duyuruda/bildirimde bulunarak uygulamaya son vermesi halinde Satıcıya herhangi bir sorumluluk yüklenmeyecektir. Ancak benzeri durumlar Alıcının sorumluluğunu etkilemeyecektir.<br />
                                                12.3. Alıcı, is bu sözleşmenin, Kart38’in, ulaşım hizmeti veren, kart aracılığıyla hizmet ya da mal sunan kişi yada kuruluşla anlaşmasının sona ermesi halinde, herhangi bir bildirime gerek olmaksızın, is bu sözleşmenin sona ereceğini kabul eder.<br />
                                            </li>
                                            <li>
                                                <strong>Madde 13 - Yürürlük</strong>
                                                <br>
                                                13 (on üç) maddeden ibaret bu Sözleşme, Taraflarca okunarak, Alıcı tarafından elektronik ortamda onaylanmak suretiyle akdedilmiş ve derhal yürürlüğe girmiştir.<br />
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <footer>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="shortcut">
                            <li><a href="/KargoTakip/KitapKartNedir">KitapKart Nedir?</a></li>
                            <li><a href="/KargoTakip/KitapKartTarifeleri">KitapKart Tarifeler</a></li>
                            <li><a href="#">KitapKart İşlemler</a></li>
                            <li><a href="#">İletişim</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="shortcut">
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">Yardım Merkezi</a></li>
                            <li><a href="#">Üyelik Sözleşmesi</a></li>
                            <li><a href="#">Gizlilik & Güvenlik</a></li>
                            <li><a href="#">Yasal Uyarı</a></li>
                            <li><a href="#">KitapKart Kullanım Koşulları</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <address>
                            <p><img src="https://kart38.com/assets/images/icons/map.png" alt="eposta">Battalgazi Mah. Demircioğlu Sok. Gelincik Sit. A/Blok KitapKart işlem merkezi Melikgazi / KAYSERİ</p>
                            <p><img src="https://kart38.com/assets/images/icons/call.png" alt="eposta"><a href="tel:153">Müşteri Destek Hattı : 0533 038 08 30</a></p>

                        </address>
                    </div>

                </div>
                <div class="row row-line">
                    <div class="col-sm-12 col-md-6">
                        <p class="rights">KitapKart.com &copy; 2013 - @DateTime.Now.Year. Her Hakkı Saklıdır. <strong>Version: 3.0.9</strong></p>
                        <p><a href="https://www.e-kent.com.tr/" rel="noopener noreferrer" target="_blank">Designed by ÇOKKEÇECİ YAZILIM</a></p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-to-top" onclick="topFunction()"></div>
    </footer>
    <script src="https://kart38.com/assets/js/jquery-3.6.1.min.js" type="text/javascript"></script>
    <script src="https://kart38.com/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script>
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) { $(".scroll-to-top").css("display", "block"); } else { $(".scroll-to-top").css("display", "none"); }
        }
        function topFunction() { document.body.scrollTop = 0; document.documentElement.scrollTop = 0; }
    </script>

    <script src="https://kart38.com/assets/js/jquery.mask.min.js"></script>
    <script src="https://kart38.com/assets/js/validetta.min.js"></script>
    <script src="https://kart38.com/assets/js/validettaLang-tr-TR.js"></script>
    <script src="https://kart38.com/assets/js/card.js"></script>
    <script>
        $('#front-card').validetta({
            /** You can display errors as inline or bubble */
            validators: {
                regExp: {
                    regname: {
                        pattern: /^[a-zA-ZğüşöçİĞÜŞÖÇ '.-]*$/,
                        errorMessage: 'Sadece alfabetik karakter kullanınız'
                    }
                }

            },
            display: 'bubble', // bubble or inline
            realTime: true,
            bubblePosition: 'bottom', // Bubble position // right / bottom
            bubbleGapLeft: 0, // Right gap of bubble (px unit)
            bubbleGapTop: 0, // Top gap of bubble (px unit)
            onValid: function () {
            },
            onError: function (event) {
                event.preventDefault(); //form submission engelleme
                //alert( 'Lütfen alanları kontrol ediniz.');
            }
        });
        $("#cardno").focus(function () {
            $('#cardno').mask('0000 0000 0000 0000');
        }); new Card({
            form: document.querySelector('form'),
            container: '.card-wrapper'

        });

        $('#tutar').mask('000,00', { reverse: true });
        var checks = false;
        var expiry = $('#expiry');
        expiry.mask('00 / 00');
        expiry.keyup(function (e) {
            var exp = expiry.val();
            console.log(exp.length);
            if (exp.length > 6 && checks == false) {
                checks = true;
                var res = exp.split(" / ");
                $("#ExpDate").val(res[0]);
                $("#ExpYear").val(res[1]);
            }
            else {
                checks = false;
            }
        });
    </script>

</body>
</html>
