@{
    Layout = null;
}

<div class="">
    <div class="aHl"></div><div id=":mu" tabindex="-1"></div><div id=":mi" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc4ODM1NjQ2NDQ3MTg2MTkyNCJd; 4:WyIjbXNnLWY6MTc4ODM1NjQ2NDQ3MTg2MTkyNCJd">
        <div id=":mh" class="a3s aiL ">
            <table bgcolor="#4284be" style="width:100%;background-color:#4284be">
                <tbody>
                    <tr>
                        <td></td>
                        <td align="" style="display:block!important;max-width:600px!important;margin:0 auto!important;clear:both!important">
                            <div style="padding:10px;max-width:600px;margin:0 auto;display:block">
                                <table bgcolor="#4284be" style="width:100%;background-color:#4284be">
                                    <tbody>
                                        <tr>
                                            <td><a href="https://www.turkiye.gov.tr/" rel="noopener" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.turkiye.gov.tr/&amp;source=gmail&amp;ust=1705612563370000&amp;usg=AOvVaw0YtGB4yGjT_6n1VSqdufYT"><img src="https://ci3.googleusercontent.com/meips/ADKq_NYFOu8XiuGEug6xMMhEPSTOnT4lalXtWRAORHpPrEif_R2Mw_6WVfcncsgcz9Qc1ik7SHCJxrM52239tFd28w4g_hEde0YHxdP0qE4s2vvnbraBz6oYAaCX=s0-d-e1-ft#https://cdn.e-devlet.gov.tr/themes/ankara/images/mail/ekapilogo.png" style="height:50px" class="CToWUd" data-bit="iit"></a></td>
                                            <td align="right"><a href="https://www.turkiye.gov.tr/" rel="noopener" style="font-family:'Helvetica Neue','Helvetica','Arial',sans-serif;line-height:1.1;margin-bottom:15px;color:#fff;font-weight:200;font-size:22px;text-decoration:none;margin:0" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.turkiye.gov.tr/&amp;source=gmail&amp;ust=1705612563370000&amp;usg=AOvVaw0YtGB4yGjT_6n1VSqdufYT">e-Devlet Kapısı</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <div>
                <table bgcolor="" style="width:100%">
                    <tbody>
                        <tr>
                            <td></td>
                            <td align="" bgcolor="#FFFFFF" style="display:block!important;max-width:600px!important;margin:0 auto!important;clear:both!important">
                                <div style="max-width:600px;margin:0 auto;display:block;padding:5px 15px 5px 15px">
                                    <table bgcolor="" style="width:100%">
                                        <tbody>
                                            <tr>
                                                <td style="padding-bottom:10px">
                                                    <h1 style="font-weight:normal;font-size:30px;line-height:1.1;margin-bottom:15px;margin-top:15px;color:#000;font-family:'Helvetica Neue','Helvetica','Arial',sans-serif">Adli Sicil Kaydı Sorgulama Hizmeti</h1>

                                                    <p>İlgili Kişi Dikkatine,</p>

                                                    <p>BURAK&nbsp;ÇOKKEÇECİ isimli kişinin&nbsp;Adli Sicil Kaydı Belgesi ektedir.</p>

                                                    <p>Bu e-posta iletisinin sizinle ilgili olmadığını düşünüyorsanız lütfen dikkate almayınız ve siliniz.</p>

                                                    <p>Bilgilerinize sunar iyi günler dileriz.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div style="padding:15px;max-width:600px;margin:0 auto;display:block"></div>

                                <div style="max-width:600px;margin-left:auto;padding-top:10px;border-top:1px solid #ddd;margin-right:auto;display:block">
                                    <table bgcolor="" style="width:100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table bgcolor="" style="width:100%" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;padding:0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" style="margin:0;padding:0;padding-right:10px;border-collapse:collapse;border-spacing:0" valign="middle"><a href="https://www.facebook.com/edevletkapi" rel="noopener" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/edevletkapi&amp;source=gmail&amp;ust=1705612563370000&amp;usg=AOvVaw0-zJqDj81XFlGoZdY7f4NK"><img alt="F" border="0" height="30" hspace="0" src="https://ci3.googleusercontent.com/meips/ADKq_NbUerNhaSimkVPVOTjl2iX2j2jp5PlY3h0o_3LeM3EWFB-9EekWKThpdPYa2f11GJOtF5s-hFOzYcDPS_WNNDId-9AKUB07AOyNlr1-66yzMjEHsf3LuQSSNA=s0-d-e1-ft#https://cdn.e-devlet.gov.tr/themes/izmir/images/mailing/facebook.png" style="padding:0;outline:none;text-decoration:none;border:none;display:inline-block;color:#000000;border-width:initial;margin:0px" title="Facebook" vspace="0" width="30" class="CToWUd" data-bit="iit"></a></td>
                                                                                <td align="center" style="margin:0;padding:0;padding-right:10px;border-collapse:collapse;border-spacing:0" valign="middle"><a href="https://twitter.com/ekapi" rel="noopener" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/ekapi&amp;source=gmail&amp;ust=1705612563370000&amp;usg=AOvVaw0WFhyFfK7A6NhgYIGzcTHy"><img alt="T" border="0" height="30" hspace="0" src="https://ci3.googleusercontent.com/meips/ADKq_NbJ0WFsAlP2Oo0sw9NCV0uPYs_-tkuZD2E42_Igq7_xrgB-RbkUZvKYzVHbQdu1v2GIp1gXPoCzyTMeERaIkpojeUdwLW83UA2oAMdes67N768T5zAlTvIQ=s0-d-e1-ft#https://cdn.e-devlet.gov.tr/themes/izmir/images/mailing/twitter.png" style="padding:0;outline:none;text-decoration:none;border:none;display:inline-block;color:#000000;border-width:initial;margin:0px" title="Twitter" vspace="0" width="30" class="CToWUd" data-bit="iit"></a></td>
                                                                                <td align="center" style="margin:0;padding:0;padding-right:10px;border-collapse:collapse;border-spacing:0" valign="middle"><a href="https://www.youtube.com/channel/UChX28IHPQ2jyaBatdfRqGSQ" rel="noopener" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/channel/UChX28IHPQ2jyaBatdfRqGSQ&amp;source=gmail&amp;ust=1705612563370000&amp;usg=AOvVaw1o-EzqDqFIhp2x8MpXtEtx"><img alt="Y" border="0" height="30" hspace="0" src="https://ci3.googleusercontent.com/meips/ADKq_NbKhyb-Aq9zeMCFSWOUw7_BbeqlY44GLavRMx5uBjPYIz_-zK7_cbKD6zcmAqzIQN8XTxy-wMgfRWfL5JxB5IjM1mA5EHAaXBIaQDgACkVbclX6ZiUpXFxs=s0-d-e1-ft#https://cdn.e-devlet.gov.tr/themes/izmir/images/mailing/youtube.png" style="padding:0;outline:none;text-decoration:none;border:none;display:inline-block;color:#000000;border-width:initial;margin:0px" title="Youtube" vspace="0" width="30" class="CToWUd" data-bit="iit"></a></td>
                                                                                <td align="center" style="margin:0;padding:0;padding-right:10px;border-collapse:collapse;border-spacing:0" valign="middle"><a href="https://www.instagram.com/edevletkapisi" rel="noopener" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/edevletkapisi&amp;source=gmail&amp;ust=1705612563370000&amp;usg=AOvVaw1C31iVtgoa7jwHr0dTwTsG"><img alt="I" border="0" height="30" hspace="0" src="https://ci3.googleusercontent.com/meips/ADKq_NZU5Ty_hkPhf8CXSB0KKDYSDpIHWRJWvptnGk8wUA_x8SVMi78ZOrxunsvc4entf0h7v2GZl8eCWp1k9xHayj9ECe-gvfaskdSTDZR0kyrX9Q19Idow3pMUObE=s0-d-e1-ft#https://cdn.e-devlet.gov.tr/themes/izmir/images/mailing/instagram.png" style="padding:0;outline:none;text-decoration:none;border:none;display:inline-block;color:#000000;border-width:initial;margin:0px" title="Instagram" vspace="0" width="30" class="CToWUd" data-bit="iit"></a></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                    <div style="display:block;clear:both"></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table align="center" bgcolor="" cellpadding="" style="width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td><a href="https://play.google.com/store/apps/details?id=tr.gov.turkiye.edevlet.kapisi" rel="noopener" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://play.google.com/store/apps/details?id%3Dtr.gov.turkiye.edevlet.kapisi&amp;source=gmail&amp;ust=1705612563370000&amp;usg=AOvVaw0T-DEwuMr_YcDvB6fdM_es"><img border="0" height="40" hspace="0" src="https://ci3.googleusercontent.com/meips/ADKq_NZHB_FNTxTKuYtbGqkG9fMVtwmjFKGjasEYPC2FCyiNpT6ECxpchSntsPC27rDXLOSA7Qmo5DG5WMWPMZgv-JsvBX_RA6epowlOWq0C37kXO0Gd5-BiBJ6xXS8=s0-d-e1-ft#https://cdn.e-devlet.gov.tr/themes/izmir/images/mailing/playstore.png" style="padding:0;float:right;margin-left:15px;margin-top:5px;margin-bottom:5px;outline:none;text-decoration:none;border:none;display:inline-block;color:#000000;border-width:initial" vspace="0" class="CToWUd" data-bit="iit"></a> <a href="https://itunes.apple.com/tr/app/e-devlet/id976505454?mt=8" rel="noopener" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://itunes.apple.com/tr/app/e-devlet/id976505454?mt%3D8&amp;source=gmail&amp;ust=1705612563371000&amp;usg=AOvVaw1UJvYrtbOpWeEyf94cCNjr"><img border="0" height="40" hspace="0" src="https://ci3.googleusercontent.com/meips/ADKq_Nb071_dGV4CqtATDnKq4ZPucA2HjepsJRgA6oOQLZYTr0np-_VLXH7pf8ZDw35eUtVCKsaOXoplZe1aQYfq-k-zDO0raG0zK-xcOW1F7OHHioU-6IPK2tz83A=s0-d-e1-ft#https://cdn.e-devlet.gov.tr/themes/izmir/images/mailing/appstore.png" style="padding:0;margin-top:5px;margin-bottom:5px;float:right;outline:none;text-decoration:none;border:none;display:inline-block;border-width:initial" vspace="0" class="CToWUd" data-bit="iit"></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table style="width:100%;clear:both!important;background-color:#f5f6f7;border-top:1px solid #dddddd">
                    <tbody>
                        <tr>
                            <td style="display:block!important;max-width:600px!important;margin:0 auto!important;clear:both!important">
                                <div style="padding-bottom:15px;padding-left:15px;padding-right:15px;max-width:600px;margin:0 auto;display:block">
                                    <table style="width:100%" width="100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p style="margin-bottom:5px;margin-top:15px;font-weight:normal;font-size:10px;line-height:1.6;color:#666666;font-family:'Helvetica Neue','Helvetica','Arial',sans-serif">Bu e-posta kişiye özel bilgi içermektedir. Eğer bu ileti size yanlışlıkla ulaştı ise işlem yapmadan siliniz. Lütfen e-Devlet şifrenizi kimseyle paylaşmayınız. e-Devlet Kapısı çalışanları da dahil olmak üzere hiç kimse sizden kişisel bilgi istemez, şifrenizi sormaz. Sizden kişisel bilgilerinizi veya e-Devlet Şifrenizi telefon, e-posta v.b. yollar ile isteyen kişilere karşı dikkatli olunuz, bilgilerinizi vermeyiniz. Tarayıcınızın adres çubuğundaki adresin <a href="https://www.turkiye.gov.tr" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.turkiye.gov.tr&amp;source=gmail&amp;ust=1705612563371000&amp;usg=AOvVaw17iYJzuyunGSqjFar6AZOE">https://www.turkiye.gov.tr</a> olmasına dikkat ediniz.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p style="border-top:1px solid #d7d7d7;padding-top:10px;margin-bottom:10px;font-family:'Helvetica Neue','Helvetica','Arial',sans-serif;font-weight:normal;font-size:10px;line-height:1.6;color:#666666">
                                                        e-Devlet Kapısı ile ilgili tüm sorular için <span style="color:#000000;font-weight:bold">160</span>'ı arayabilir veya <span style="color:#000000;font-weight:bold"><a href="mailto:bilgi@turkiye.gov.tr" target="_blank">bilgi@turkiye.gov.tr</a></span> adresine e-posta gönderebilirsiniz. İletişim adresimiz: Türksat A.Ş., 40 KM. Konya Yolu, PK: 06839, Gölbaşı / Ankara<br>
                                                        © 2020&nbsp;e-Devlet Kapısı’nın kurulması ve yönetilmesi görevi&nbsp;<a href="http://www.cbddo.gov.tr/" rel="external" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.cbddo.gov.tr/&amp;source=gmail&amp;ust=1705612563371000&amp;usg=AOvVaw1JVURMrvUTy6xKosBqn2TE">T.C. Cumhurbaşkanlığı Dijital Dönüşüm Ofisi Başkanlığı</a>&nbsp;tarafından yürütülmekte olup, sistemin geliştirilmesi ve işletilmesi&nbsp;<a href="http://www.turksat.com.tr/" rel="external" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.turksat.com.tr/&amp;source=gmail&amp;ust=1705612563371000&amp;usg=AOvVaw2BGwYVVVCBFsLG3LXVPB0f">Türksat A.Ş.</a>&nbsp;tarafından yapılmaktadır.
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table><div class="yj6qo"></div><div class="adL">
                </div>
            </div><div class="adL">
            </div>
        </div>
    </div>

    @* <table width="100%" height="100%" style="min-width:348px" border="0" cellspacing="0" cellpadding="0" lang="en"><tbody><tr height="32" style="height:32px"><td></td></tr><tr align="center"><td><div><div></div></div><table border="0" cellspacing="0" cellpadding="0" style="padding-bottom:20px;max-width:516px;min-width:220px"><tbody><tr><td width="8" style="width:8px"></td><td><div style="border-style:solid;border-width:thin;border-color:#dadce0;border-radius:8px;padding:40px 20px" align="center" class="m_-323898535981657430mdv2rw"><img src="https://ci3.googleusercontent.com/meips/ADKq_NZa00tQPIx4fdFGtuHSHzYQ-whZFD7HWD3OhXR05fT4XqJ_Wca2erL9R9_382bPBUom-sDOVfi4G3FXbYaZsHsGqQUAL6-JIKgEzWlarZbeNSLveyc6EKOURFQhphfzG2ZAwLiyrJsC=s0-d-e1-ft#https://www.gstatic.com/images/branding/googlelogo/2x/googlelogo_color_74x24dp.png" width="74" height="24" aria-hidden="true" style="margin-bottom:16px" alt="Google" class="CToWUd" data-bit="iit"><div style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;border-bottom:thin solid #dadce0;color:rgba(0,0,0,0.87);line-height:32px;padding-bottom:24px;text-align:center;word-break:break-word"><div style="font-size:24px"><a>cloudHQ</a> uygulamasının bağlı Google Hesabınıza erişimine izin verildi </div><table align="center" style="margin-top:8px"><tbody><tr style="line-height:normal"><td align="right" style="padding-right:8px"><img width="20" height="20" style="width:20px;height:20px;vertical-align:sub;border-radius:50%" src="https://lh3.googleusercontent.com/a/ACg8ocK0TVTKZWdnpK-KaeDcITNS7O6SiDV6qtz8lFCYSxm-7Q=s96-c" alt="" class="CToWUd" data-bit="iit"></td><td><a style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.87);font-size:14px;line-height:20px">cokkececiyazilim@gmail.com</a></td></tr></tbody></table> </div><div style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;color:rgba(0,0,0,0.87);line-height:20px;padding-top:20px;text-align:left"><br>Erişim iznini siz vermediyseniz bu işlemi inceleyin ve hesabınızın güvenliğini sağlayın.<div style="padding-top:32px;text-align:center"><a href="https://accounts.google.com/AccountChooser?Email=cokkececiyazilim@gmail.com&amp;continue=https://myaccount.google.com/alert/nt/1704272599000?rfn%3D127%26rfnc%3D1%26eid%3D-6906004572616249955%26et%3D0" style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;line-height:16px;color:#ffffff;font-weight:400;text-decoration:none;font-size:14px;display:inline-block;padding:10px 24px;background-color:#4184f3;border-radius:5px;min-width:90px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://accounts.google.com/AccountChooser?Email%3Dcokkececiyazilim@gmail.com%26continue%3Dhttps://myaccount.google.com/alert/nt/1704272599000?rfn%253D127%2526rfnc%253D1%2526eid%253D-6906004572616249955%2526et%253D0&amp;source=gmail&amp;ust=1705612899606000&amp;usg=AOvVaw08w7cNIifb9FKzMr5TXhKn">Etkinliği kontrol et</a></div></div><div style="padding-top:20px;font-size:12px;line-height:16px;color:#5f6368;letter-spacing:0.3px;text-align:center">Güvenlik etkinliğini şu sayfada da görebilirsiniz:<br><a style="color:rgba(0,0,0,0.87);text-decoration:inherit">https://myaccount.google.com/<wbr>notifications</a></div></div><div style="text-align:left"><div style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.54);font-size:11px;line-height:18px;padding-top:12px;text-align:center"><div>Bu e-posta sizi Google Hesabınız ve hizmetlerinizdeki önemli değişiklikler hakkında bilgilendirmek için gönderilmiştir.</div><div style="direction:ltr">© 2023 Google LLC, <a class="m_-323898535981657430afal" style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.54);font-size:11px;line-height:18px;padding-top:12px;text-align:center">1600 Amphitheatre Parkway, Mountain View, CA 94043, USA</a></div></div></div></td><td width="8" style="width:8px"></td></tr></tbody></table></td></tr><tr height="32" style="height:32px"><td></td></tr></tbody></table> *@
