@{
Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html id="ViewerHtml" xmlns="http://www.w3.org/1999/xhtml">

<head id="Head1">
  <title>

  </title>
</head>

<body style="text-align: center; height: 81px;">
  <div id="DIV1"></div>
  <div style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: medium;">

    <html lang="tr">

    <head>
      <title>AKBANK</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>

    <body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
      <br />
      <table id="Table_01" width="600" align="center" border="0" cellpadding="0" cellspacing="0"
        style="padding:0; background-color:#ffffff;">
        <tr>
          <td style="text-align:center;" valign="top"><img src="~/carbook-master/images/adsız tasarım (4).png" alt=""
              width="600" height="314" border="0" usemap="#Map2" style="display:block;"></td>
        </tr>
        <tr>
      </table>
      <table id="Table_03" width="600" align="center" border="0" cellpadding="0" cellspacing="0"
        style="background-color:#FFFFFF;">
        <tr>
          <td
            style="font-size:14px; font-family:'Arial'; color:#000; padding-top: 36px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;border-right:1px #ebebf0 solid;border-left:1px #ebebf0 solid;">
            Değerli Akbanklı,<br /><br />

            ************3714 numaralı Axess Platinum TL ekstrene <br> Juzdan, Akbank Mobil veya Akbank İnternet'te
            "Kartlar" menüsünden ulaşabilirsin.<br /><br />
            Bugünü ve her günü iyi yaşa.<br /><br />

            İyi günler dileriz,<br />
            Akbank
          </td>
        </tr>
        <tr>
          <td valign="top"
            style="padding-top:15px ;padding-left:20px; font-size:14px; font-family:'Arial';color:#000;border-right:1px #ebebf0 solid;border-left:1px #ebebf0 solid;">
            Hesap özeti açıklamaları için <a href="https://www.axess.com.tr/axess/sayfa/1/784/hesap-ozeti-aciklamalari"
              style="color:#000; font-weight:bold;" target="_blank">tıkla</a>.
            <br /><br />
            Daha iyi bir gelecek için e-postayı seçtin ve doğayı korudun. <br>
            Teşekkür ederiz.<br /><br />
          </td>
        </tr>
      </table>
      <table id="Table_03" width="600" align="center" border="0" cellpadding="0" cellspacing="0"
        style="background-color:#FFFFFF;">
        <tr>
          <td valign="top"><img src="https://www.akbank.com/emails/202202/axess/main-footer.jpg" alt="" width="600"
              height="58" border="0" usemap="#Map3"></td>
        </tr>

      </table>
      <table id="Table_03" width="600" align="center" border="0" cellpadding="0" cellspacing="0"
        style="background-color:#FFFFFF;">
        <tr>
          <td valign="top" style="border-right:1px #ebebf0 solid;border-left:1px #ebebf0 solid;border-bottom:1px #ebebf0 solid;"><img src="https://www.akbank.com/emails/202202/axess/main-footer-v2.jpg" alt="" width="598" height="44" border="0" usemap="#Map"></td>
        </tr>

      </table>

      <map name="Map">
        <area shape="rect" coords="25,6,96,38" href="https://www.akbank.com/tr-tr/sayfalar/default.aspx">

        <img src="https://haberci.akbank.com/elci.opsweb/LoadMgts.aspx?kid=ao6jWvkbINZL/8rAOYzdFuxgznllBh66NUF7kvrWNHolSZ0gJCXjUgNU37naMoS/kpx4iK/O/PsQFGezNahrJzu1qt/4wd8uj3kn+nQaESyNTO1g5iDrs6cbzevlt+v6XNwrQFmbqi55ANVJw5E+8xrlQ0Y41uuPs4oMRDaSpk7rkl/hQERupGsNQl33/9f9TBt/HQVXrYfeLqDxXkq5FxI4ik1hCRCw7POqj2yjI+Bjx8AoCXf7fuqVbBOBG8Kf58Nv7vtYWyQGnyZL9uFoYSCXsa6vjC96QGabOcMoNNRPp+MRDnBkq/YhKzd8Rzzh"></img>
      </map>

      <map name="Map2">
        <area shape="rect" coords="36,246,105,267" href="https://play.google.com/store/apps/details?id=com.akbank.android.apps.axess&hl=tr&gl=US">
        <area shape="rect" coords="111,245,193,267" href="https://apps.apple.com/tr/app/axess-mobil/id1270161188?l=tr">

        <img src="https://haberci.akbank.com/elci.opsweb/LoadMgts.aspx?kid=ao6jWvkbINZL/8rAOYzdFuxgznllBh66NUF7kvrWNHolSZ0gJCXjUgNU37naMoS/kpx4iK/O/PsQFGezNahrJzu1qt/4wd8uj3kn+nQaESyNTO1g5iDrs6cbzevlt+v6XNwrQFmbqi55ANVJw5E+8xrlQ0Y41uuPs4oMRDaSpk7rkl/hQERupGsNQl33/9f9TBt/HQVXrYfeLqDxXkq5FxI4ik1hCRCw7POqj2yjI+Bjx8AoCXf7fuqVbBOBG8Kf58Nv7vtYWyQGnyZL9uFoYSCXsa6vjC96QGabOcMoNNRPp+MRDnBkq/YhKzd8Rzzh"></img>
      </map>

      <map name="Map3">
        <area shape="circle" coords="255,29,10" href="https://www.facebook.com/axess/">
        <area shape="circle" coords="285,29,11" href="https://twitter.com/AxessCard?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
        <area shape="circle" coords="314,29,11" href="https://www.youtube.com/c/Axess">
        <area shape="circle" coords="343,29,11" href="https://www.instagram.com/axess/">

        <img src="https://haberci.akbank.com/elci.opsweb/LoadMgts.aspx?kid=ao6jWvkbINZL/8rAOYzdFuxgznllBh66NUF7kvrWNHolSZ0gJCXjUgNU37naMoS/kpx4iK/O/PsQFGezNahrJzu1qt/4wd8uj3kn+nQaESyNTO1g5iDrs6cbzevlt+v6XNwrQFmbqi55ANVJw5E+8xrlQ0Y41uuPs4oMRDaSpk7rkl/hQERupGsNQl33/9f9TBt/HQVXrYfeLqDxXkq5FxI4ik1hCRCw7POqj2yjI+Bjx8AoCXf7fuqVbBOBG8Kf58Nv7vtYWyQGnyZL9uFoYSCXsa6vjC96QGabOcMoNNRPp+MRDnBkq/YhKzd8Rzzh"></img>
      </map>
      <br />
    </body>

    </html>

    <br />
    <br />
    <br />

  </div>

  <p>
    &nbsp;</p>
  <p>
    &nbsp;</p>
  <p>



  </p>

  <p>
    &nbsp;</p>
</body>
</html>
