
@{
    Layout = null;
}

@{
    Layout = null;

    string Ad_Soyad = "BURAK ÇOKKEÇECİ";
    string[] Dizili_Ad = Ad_Soyad.Split(' ');
    int Fiyat = 150000000;
    string Yildizli_IsimAd = "";
    string Yildizli_SoyIsim = "";


    for (int i = 0; i < Dizili_Ad[0].Length; i++)
    {
        if (i > 1)
        {
            Yildizli_IsimAd += "*";
        }
        else
        {
            Yildizli_IsimAd += Dizili_Ad[0][i];
        }

        if (i == Dizili_Ad[0].Length - 1)
        {
            for (int j = 0; j < Dizili_Ad[1].Length; j++)
            {
                if (j > 1)
                {
                    Yildizli_SoyIsim += "*";
                }
                else
                {
                    Yildizli_SoyIsim += Dizili_Ad[1][j];
                }
            }
        }
    }
}


<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="padding-top:20px">
    <tbody id="divYazdir">
        <tr>
            <td align="center">
                <table width="700" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="border:2px solid #004c9e">
                    <tbody>
                        <tr>
                            <td valign="top" align="left" style="padding:40px 40px 20px 40px">
                                <a href="https://dnz.im/sMpGR" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://dnz.im/sMpGR&amp;source=gmail&amp;ust=1705307183111000&amp;usg=AOvVaw1h5uqHe8wXfepyOv0TAY-L"><img src="https://ci3.googleusercontent.com/meips/ADKq_NYhBuAFP901gvjPR_PbHMj0pycr8ryPE0LhFA-GiYwEDcOKa58z2lUNdwA5Wz_T-7HVWka0cw-02oYeLZNp1t4vOfHEtQj4Nmt1bqY=s0-d-e1-ft#https://www.denizbank.com/_i/mailing/13022019/logo.jpg" width="199" height="43" class="CToWUd" data-bit="iit"></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family:Tahoma,Geneva,sans-serif;font-size:16px;line-height:120%;color:#004c93;padding:0px 40px 10px 40px">
                                Değerli müşterimiz, <br><br> @Yildizli_IsimAd @Yildizli_SoyIsim tarafından gönderilen @Fiyat.ToString("C") TL tutarında FAST ödemesi hesabınıza geçmiştir.<br>
                                <br>
                                <br>



                                <span style="font-size:10px">

                                    Bilgi güvenliğiniz için bilgilendirme detaylarınızı, e-posta yerine MobilÇokkeçeci ve ÇokkeçeciKartım uygulamalarımızda görüntülemenizi öneririz.<br><br>
                                    Bilgilendirmelerinizde hassas verinin yer almasını tercih etmeniz durumunda, MobilÇokkeçeci, ÇokkeçeciKartım, Şubelerimiz veya İletişim Merkezimiz üzerinden güncelleyebilirsiniz.
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#004c9e" style="min-width:220px;max-width:620px">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="font-family:Tahoma,Geneva,sans-serif;font-size:18px;line-height:140%;color:#ffffff;padding:20px 20px 0px 20px">
                                                <p><strong>ÇokkeçeciMobil</strong> ile bankacılık işlemlerinizi hızlı ve kolayca yapabilirsiniz.</p>
                                                <a href="https://dnz.im/8AqKi" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://dnz.im/8AqKi&amp;source=gmail&amp;ust=1705307183111000&amp;usg=AOvVaw2KYUTxdueIvd-ciqkvLwT-"><img src="https://ci3.googleusercontent.com/meips/ADKq_Nbqovij4ywv5DkZdsigUg8XbaTJAodXquAx-on_htuw1qv4IJQF2EoW59r7xSi-RbR_rIAyRRC5EKSl2dbFymsqvbJrNw7nNSQF5w=s0-d-e1-ft#https://www.denizbank.com/_i/mailing/13022019/btn.jpg" width="177" height="52" class="CToWUd" data-bit="iit"></a>
                                            </td>
                                            <td valign="top" align="left" style="padding:40px 40px 20px 40px"><img src="https://ci3.googleusercontent.com/meips/ADKq_Nb7kyU1jtQ3OsrxEwm2w6VtirAEkjAfKGdsuBeKt_AGk6xRWBuH5WgbOHB9XrJpnBShQL4fqk1ztoqUYS6iERaflU2QjIfhJKF0AJV2_kM=s0-d-e1-ft#https://www.denizbank.com/mailing/20/04/14/01/banner1.jpg" width="310" height="250" class="CToWUd a6T" data-bit="iit" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 572px; top: 619.875px;"><div id=":1f7" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label=" adlı eki indir" jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc4NzQ0Mzg3MDQyOTc5NjMzMyJd" data-tooltip-class="a1V" jsaction="JIbuQc:.CLIENT" data-tooltip="İndir"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family:Tahoma,Geneva,sans-serif;font-size:10px;line-height:120%;color:#004c93;padding:0px 40px 10px 40px;text-align:center">
                                <p>
                                    <br>
                                    T. Çokkeçeci Bankası A.Ş. MERSİS Numarası : 0292-0084-4960-0341
                                </p>
                                <p>
                                    Çokkeçeci BBVA tarafından e-posta aracılığı ile kullanıcı adı / parola / şifre bilgileri / kişisel bilgiler hiçbir zaman istenmemekte ve e-posta aracılığıyla bilgi güncellenmemektedir. Şüphe duyduğunuz
                                    durumlarda 0533 038 08 30'ü aramanızı rica ederiz.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom:20px;padding-left:40px">
                                <img align="left" src="https://ci3.googleusercontent.com/meips/ADKq_NYQ2RcytL1g2UImtvZbdne10vc3gpHrVYL8mzpJv4Jm7yr8SvgmcHhSJxIPhhlaNSfwouAMIrRkUyBbbR2Dlb_qj7E44Np6VooHQmEUwqau9j0CXg=s0-d-e1-ft#https://www.denizbank.com/mailing/DenizBank_endb_100321_03.jpg" width="93" height="23" class="CToWUd" data-bit="iit">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<a href="javascript:printDiv('divYazdir');">Yazdır</a>

<script type="text/javascript">
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>