@model CarBook.WebUI.Models.Bilet

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>KartimaBakiyeYukle</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" />
    <meta name="author" content="Loop Dijital" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="google-site-verification" content="t2q0sja310dMVTTAfxD52tH3Ssu3enGL9y_VqdE89_A" />
    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PGN8YNTGLR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-PGN8YNTGLR');
    </script>
    <!-- End Google Analytics -->
    <link href="https://kart38.com/assets/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700|Rubik:400,500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://kart38.com/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />


    <link href="https://kart38.com/assets/css/style.css" rel="stylesheet" type="text/css" />

    <script src="https://kart38.com/assets/js/font-awesome-e1329018ac.js" crossorigin="anonymous"></script>
    <link href="https://kart38.com/assets/css/validetta.min.css" rel="stylesheet" type="text/css" />

    <link rel="apple-touch-icon" sizes="180x180" href="https://kart38.com/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://kart38.com/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://kart38.com/assets/images/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="https://kart38.com/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
</head>
<body>
    <header class="home-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-11">
                    <ul class="menu_butons">
                        <li><a class="btn  btn-light" href="/KargoTakip/Kartlarim"><span>Online İşlemler</span> <img src="https://kart38.com/assets/images/icons/icon-9.png" alt="uye giris" /></a></li>
                        <li><a class="btn  btn-light" href="/uye/uyelogout"><span>Çıkış</span> <img src="https://kart38.com/assets/images/icons/icon-10.png" alt="uye ol" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 offset-sm-1 col-md-2 offset-md-0 col-lg-3 offset-lg-2 logo">
                    <a href="/"><img src="~/carbook-master/images/çokkeçecı kütüphaneleri Store (1).png" alt="Kart38 Logo" style="border-radius:50%;" /></a>
                </div>
                <div class="col-sm-7 col-md-10 col-lg-7 menubar">
                    <nav class="navbar navbar-expand-md navbar-ozel navbar-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu-list" aria-controls="navbar-menu-list" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-menu-list">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active hvr-underline-reveal">
                                    <a class="nav-link" href="/KargoTakip/KitapKartNedir"><img src="https://kart38.com/assets/images/icons/icon-6.png" alt="icon-4" /><span>KitapKart <br /> Nedir?</span></a>
                                </li>
                                <li class="nav-item hvr-underline-reveal">
                                    <a class="nav-link" href="/islem-merkezi"><img src="https://kart38.com/assets/images/icons/icon-4.png" alt="icon-6" /><span>Nereden <br /> Alınır</span></a>
                                </li>
                                <li class="nav-item hvr-underline-reveal">
                                    <a class="nav-link" href="/KargoTakip/KitapKartTarifeleri"><img src="https://kart38.com/assets/images/icons/icon-5.png" alt="icon-5" /><span>KitapKart <br />Tarifeler</span></a>
                                </li>
                                <li class="nav-item hvr-underline-reveal">
                                    <a class="nav-link" href="/islemler"><img src="https://kart38.com/assets/images/icons/icon-7.png" alt="icon-7" /><span> KitapKart <br /> İşlemler</span></a>
                                </li>
                                <li class="nav-item hvr-underline-reveal" style="display:none">
                                    <a class="nav-link" href="/kart-basvuru"><img src="https://kart38.com/assets/images/icons/online-basvuru.png" alt="icon-8" /><span> Online <br /> Başvuru</span></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="seperator sep01" style="clear:both">
            <span class="up"></span><span></span>
        </div>
        <div class="short" style="background: #001436; padding:15px 0">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4 style="margin-bottom:0;color: #898989;"><a href="/" style="color:#fff">Anasayfa</a><span> / </span> <a href="javascript:;" style="color:#cacaca;font-size: 22px;">Bakiye Y&#252;kleme</a></h4>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <div class="content">



        <section class="leftmenu sp-50">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3 leftmenubg">
                        <div class="card leftsidemenu">
                            <article class="card-group-item">
                                <h6 class="title">KitapKart<br /> ONLINE İŞLEMLER </h6>
                                <div class="filter-content">
                                    <div class="list-group list-group-flush">
                                        <a href="/KargoTakip/Kartlarim" class="liste-item"><i class="fa fa-chevron-right"></i> KitapKart'larım  </a>
                                        <a href="/onlineislem/basvurularim" class="liste-item "><i class="fa fa-chevron-right"></i> Başvurularım  </a>
                                        <a href="/KargoTakip/KartTanimlama" class="liste-item"><i class="fa fa-chevron-right"></i> KitapKart Tanımlama   </a>
                                        <a href="/KargoTakip/ParaYukleme" class="liste-item "><i class="fa fa-chevron-right"></i> Para Yükleme </a>
                                        <a href="/kart-basvuru" class="liste-item "><i class="fa fa-chevron-right"></i> KitapKart Başvuru   </a>
                                    </div>
                                </div>
                            </article>
                            <article class="card-group-item">
                                <h6 class="title">PROFİL İŞLEMLERİ </h6>
                                <div class="filter-content">
                                    <div class="list-group list-group-flush">
                                        <a href="/KargoTakip/bilgiguncelleme" class="liste-item "><i class="fa fa-chevron-right"></i> Bilgi Güncelleme  </a>
                                        <a href="/KargoTakip/SifreYenileme" class="liste-item "><i class="fa fa-chevron-right"></i> Şifre Değiştirme  </a>
                                        <a href="/KargoTakip/KayseriUlasimKart" class="liste-item "><i class="fa fa-chevron-right"></i> Kart Hareketleri  </a>
                                        <a href="/iletisim" class="liste-item last "><i class="fa fa-chevron-right"></i> Destek </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="col-md-9 icerik">
                        <h2 class="icerikTitle">KitapKart Para Yükleme</h2>
                        <div id="tabs" class="col-12 col-md-8 form">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Kredi Kartı</a>
                                    <a class="nav-item nav-link" id="nav-first-tab" data-toggle="tab" href="#nav-first" role="tab" aria-controls="nav-first" aria-selected="false" style="display:none">Mobil Ödeme</a>
                                </div>
                            </nav>
                            <div class="tab-content py-3 px-sm-0" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <form method="POST" id="front-card">
                                        <input name="__RequestVerificationToken" type="hidden" value="McbtfYVICsuukA99aM7vg-S0qnhx0HTYAaGmBI_s6o7y77oApDLNE_V68z-fDRP-3Vlu-IwrbDYo1EMkU2c8-dxe78ofu-wwHebbK-2m09T_FF9nLVuJ0Itq3Mqvu_rm0" />
                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <div class="box-carddetail">
                                                    <h4>Kişiselleştirilmiş (&#214;ĞRENCİ) Kartım 1</h4>
                                                    @{
                                                        if (int.Parse(TempData["CardType"].ToString()) == 1)
                                                        {
                                                            <img src="~/carbook-master/images/on.png" width="285" height="164" alt="Kart görseli" style="border-radius:15px;" />
                                                        }
                                                        else if (int.Parse(TempData["CardType"].ToString()) == 2)
                                                        {
                                                            <img src="~/carbook-master/images/tamkart.png" width="285" height="164" alt="Kart görseli" style="border-radius:15px;" />
                                                        }
                                                        else if (int.Parse(TempData["CardType"].ToString()) == 3)
                                                        {
                                                            <img src="~/carbook-master/images/serbest.png" width="285" height="164" alt="Kart görseli" style="border-radius:15px;" />
                                                        }
                                                        else if (int.Parse(TempData["CardType"].ToString()) == 4)
                                                        {
                                                            <img src="~/carbook-master/images/indirimlikart.png" width="285" height="164" alt="Kart görseli" style="border-radius:15px;" />
                                                        }
                                                        else if (int.Parse(TempData["CardType"].ToString()) == 5)
                                                        {
                                                            <img src="~/carbook-master/images/tamabonmankart.png" width="285" height="164" alt="Kart görseli" style="border-radius:15px;" />
                                                        }
                                                    }
                                                   

                                                    <h6>Bakiye: <strong> 157.90 ₺</strong></h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <p>Aşağıdaki alana KitapKart'ınıza yüklemek istediğiniz tutarı giriniz. Bir kerede en fazla 200,00 TL yükleyebilirsiniz.</p>
                                            <input type="number" class="form-control" id="tutar" asp-for="Tutar" aria-describedby="tutar" max="200" min="1" step="any" value="0.00" placeholder="0.00" data-validetta="required,maxLength[6],smaller">
                                            <input type="hidden" class="form-control" id="kartno" asp-for="KartNo" aria-describedby="kartno" value="4071820513">
                                           @*  <input type="hidden" class="form-control" id="kartarkano" name="kartarkano" aria-describedby="kartarkano" value="4071820513">
                                            <input type="hidden" name="returnURL" value="KartimaBakiyeYukle" />
                                            <input type="hidden" name="otherCard" value="false" /> *@
                                        </div>
                                        <p>
                                            <i class="fa fa-exclamation-triangle text-danger text-justify">
                                                Tam ve Öğrenci Abonman Kartlara Aylık biniş yüklemesi yapılamamaktadır. Sadece kartınıza para yüklemesi yapılacaktır.
                                            </i>
                                        </p>
                                        <button type="reset" class="btn btn-danger" style="margin: 15px 0;text-align: right;">
                                            Sıfırla
                                        </button>
                                        <button type="submit" class="btn btn-primary" style="margin: 15px 0;text-align: right;">
                                            <i class="fa fa-arrow-right"></i> İLERİ
                                        </button>
                                    </form>
                                    <h3 style="color: #b60000;font-weight: 600;">
                                        Bilgilendirme
                                    </h3>
                                    <ol style="padding: 5px 10px;list-style: none;color: #222;">
                                        <li>1- Yapacağınız yüklemelerden komisyon ücreti alınmayacaktır.</li>
                                        <li>2- Online bakiye yükleme işleminden sonra bakiyenin kartınıza yüklenebilmesi için kartınızı Validatöre okutmanız gerekmektedir.</li>
                                        <li>3- Kart okutma işlemini, yüklemenizi yaptıktan en az 30 dakika sonra gerçekleştirmelisiniz.</li>
                                    </ol>
                                </div>
                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
    <footer>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="shortcut">
                            <li><a href="/KargoTakip/KitapKartNedir">KitapKart Nedir?</a></li>
                            <li><a href="/KargoTakip/KitapKartTarifeleri">KitapKart Tarifeler</a></li>
                            <li><a href="#">KitapKart İşlemler</a></li>
                            <li><a href="#">İletişim</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="shortcut">
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">Yardım Merkezi</a></li>
                            <li><a href="#">Üyelik Sözleşmesi</a></li>
                            <li><a href="#">Gizlilik & Güvenlik</a></li>
                            <li><a href="#">Yasal Uyarı</a></li>
                            <li><a href="#">KitapKart Kullanım Koşulları</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <address>
                            <p><img src="https://kart38.com/assets/images/icons/map.png" alt="eposta">Battalgazi Mah. Demircioğlu Sok. Gelincik Sit. A/Blok KitapKart işlem merkezi Melikgazi / KAYSERİ</p>
                            <p><img src="https://kart38.com/assets/images/icons/call.png" alt="eposta"><a href="tel:153">Müşteri Destek Hattı : 0533 038 08 30</a></p>

                        </address>
                    </div>

                </div>
                <div class="row row-line">
                    <div class="col-sm-12 col-md-6">
                        <p class="rights">KitapKart.com &copy; 2013 - @DateTime.Now.Year. Her Hakkı Saklıdır. <strong>Version: 3.0.9</strong></p>
                        <p><a href="https://www.e-kent.com.tr/" rel="noopener noreferrer" target="_blank">Designed by ÇOKKEÇECİ YAZILIM</a></p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-to-top" onclick="topFunction()"></div>
    </footer>
    <script src="https://kart38.com/assets/js/jquery-3.6.1.min.js" type="text/javascript"></script>
    <script src="https://kart38.com/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script>
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) { $(".scroll-to-top").css("display", "block"); } else { $(".scroll-to-top").css("display", "none"); }
        }
        function topFunction() { document.body.scrollTop = 0; document.documentElement.scrollTop = 0; }
    </script>

    <script type="text/javascript" src="https://kart38.com/assets/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="https://kart38.com/assets/js/validetta.min.js"></script>
    <script type="text/javascript" src="https://kart38.com/assets/js/validettaLang-tr-TR.js"></script>
    <script>
        $('#front-card').validetta({
            /** You can display errors as inline or bubble */
            display: 'bubble', // bubble or inline
            realTime: true,
            bubblePosition: 'bottom', // Bubble position // right / bottom
            bubbleGapLeft: 0, // Right gap of bubble (px unit)
            bubbleGapTop: 0, // Top gap of bubble (px unit)
            onValid: function () {
            },
            onError: function (event) {
                event.preventDefault(); //form submission engelleme
                //            alert( 'Lütfen alanları kontrol ediniz.');
            }
        });

        //function setSelectionRange(input, selectionStart, selectionEnd) {
        //    if (input.setSelectionRange) {
        //        input.focus();
        //        input.setSelectionRange(selectionStart, selectionEnd);
        //    } else if (input.createTextRange) {
        //        var range = input.createTextRange();
        //        range.collapse(true);
        //        console.log(collapse);
        //        range.moveEnd('character', selectionEnd);
        //        range.moveStart('character', selectionStart);
        //        range.select();
        //    }
        //}

        //function setCaretToPos(input, pos) {
        //    setSelectionRange(input, pos, pos);
        //}


        //$("#tutar").click(function () {
        //    var inputLength = $("#tutar").val().length;
        //    setCaretToPos($("#tutar")[0], inputLength)
        //});

        $(function () {
            if ((navigator.userAgent.indexOf("Opera") || navigator.userAgent.indexOf('OPR')) != -1) {
                var browsername = "Opera";
            }
            else if (navigator.userAgent.indexOf("Chrome") != -1) {
                var browsername = "Chrome";
            }
            else if (navigator.userAgent.indexOf("Safari") != -1) {
                var browsername = "Safari";
            }
            else if (navigator.userAgent.indexOf("Firefox") != -1) {
                var browsername = "Firefox";
            }
            else if ((navigator.userAgent.indexOf("MSIE") != -1) || (!!document.documentMode == true)) {
                var browsername = "IE";
            }
            else {
                var browsername = "unknown";
            }

            if (browsername == "Opera") {
                var options = {
                    onKeyPress: function (cep, e, field, options) {
                        console.log('A key was pressed!:', cep,
                            'currentField: ', field, ' options: ', options);
                        if (cep.length > 2 && cep.length <= 6) {
                            console.log(browsername);
                            var inputVal = parseFloat(cep);
                            jQuery('#tutar').val(inputVal.toFixed(2));
                            var masks = ['#,##0.00', '0.00'];
                            mask = (cep == 0) ? masks[1] : masks[0];
                            $('#tutar').mask(mask, options);
                        }
                        if (cep.length == 0 || cep.length == 2) {
                            $('#tutar').val('0.00');
                        }
                        if (cep.length == 1) {
                            $('#tutar').val(cep + '.00');
                            console.log('ctrl a selected');
                        }
                        // setCaretToPos(jQuery('#money')[0], 4);
                    },
                    reverse: true
                };
                $('#tutar').mask('00.00', options);
            }
            else if (browsername == "Chrome") {
                var options = {
                    onKeyPress: function (cep, e, field, options) {
                        console.log('A key was pressed!:', cep,
                            'currentField: ', field, ' options: ', options);
                        if (cep.length > 2 && cep.length <= 6) {
                            console.log(browsername);
                            var inputVal = parseFloat(cep);
                            jQuery('#tutar').val(inputVal.toFixed(2));
                            var masks = ['#,##0.00', '0.00'];
                            mask = (cep == 0) ? masks[1] : masks[0];
                            $('#tutar').mask(mask, options);
                        }
                        if (cep.length == 0 || cep.length == 2) {
                            $('#tutar').val('0.00');
                        }
                        if (cep.length == 1) {
                            $('#tutar').val(cep + '.00');
                            console.log('ctrl a selected');
                        }
                        // setCaretToPos(jQuery('#money')[0], 4);
                    },
                    reverse: true
                };
                $('#tutar').mask('00.00', options);
            }
            else if (browsername == "Safari") {
                var options = {
                    onKeyPress: function (cep, e, field, options) {
                        console.log('A key was pressed!:', cep,
                            'currentField: ', field, ' options: ', options);
                        if (cep.length > 2 && cep.length <= 6) {
                            console.log(browsername);
                            var inputVal = parseFloat(cep);
                            jQuery('#tutar').val(inputVal.toFixed(2));
                            var masks = ['#,##0.00', '0.00'];
                            mask = (cep == 0) ? masks[1] : masks[0];
                            $('#tutar').mask(mask, options);
                        }
                        if (cep.length == 0 || cep.length == 2) {
                            $('#tutar').val('0.00');
                        }
                        if (cep.length == 1) {
                            $('#tutar').val(cep + '.00');
                            console.log('ctrl a selected');
                        }
                        // setCaretToPos(jQuery('#money')[0], 4);
                    },
                    reverse: true
                };
                $('#tutar').mask('00.00', options);
            }
            else if (browsername == "Firefox") {
                var options = {
                    onKeyPress: function (cep, e, field, options) {
                        console.log('A key was pressed!:', cep,
                            'currentField: ', field, ' options: ', options);
                        if (cep.length > 1 && cep.length <= 6) {
                            var inputVal = parseFloat(cep);
                            jQuery('#tutar').val(inputVal.toFixed(2));
                            var masks = ['#,##0.00', '0.00'];
                            mask = (cep == 0) ? masks[1] : masks[0];
                            $('#tutar').mask(mask, options);
                            console.log(mask);
                        }
                        if (cep.length == 0) {
                            $('#tutar').val('0.00');
                        }
                        if (cep.length == 1) {
                            $('#tutar').val(cep + '.00');
                            console.log('ctrl a selected');
                        }
                        // setCaretToPos(jQuery('#money')[0], 4);
                    },
                    reverse: true
                };
                $('#tutar').mask('00.00', options);
            }
            else if (browsername == "IE") {
                //$('#tutar').removeAttr("max");
                //$('#tutar').removeAttr("min");
                //$('#tutar').removeAttr("step");
                //$('#tutar').attr("type", "text");
                var cnt = 0;
                var options = {
                    onKeyPress: function (cep, e, field, options) {
                        console.log('A key was pressed!:', cep,
                            'currentField: ', field, ' options: ', options);
                        if (cnt == 0 && cep == 0) {
                            var value = $(this).val();
                            value = value.replace(/^(0*)/, "");
                            $(this).val(value);
                        }
                        else {
                            if (cep.length > 2 && cep.length <= 6) {
                                var inputVal = parseFloat(cep);
                                jQuery('#tutar').val(inputVal.toFixed(2));
                                var masks = ['0,##0.00', '0.00'];
                                mask = (cep == 0) ? masks[1] : masks[0];
                                $('#tutar').mask(mask, options);
                                console.log(mask);
                            }
                            if (cep.length == 0 || cep.length == 2) {
                                $('#tutar').val('0.00');
                            }
                            if (cep.length == 1) {
                                $('#tutar').val(cep + '.00');
                                console.log('ctrl a selected');
                            }
                        }
                        // setCaretToPos(jQuery('#tutar')[0], 4);
                    },
                    reverse: true
                };
                $('#tutar').mask('000.00', options);
            }
            else {
                var options = {
                    onKeyPress: function (cep, e, field, options) {
                        console.log('A key was pressed!:', cep,
                            'currentField: ', field, ' options: ', options);
                        if (cep.length > 2 && cep.length <= 6) {
                            console.log(browsername);
                            var inputVal = parseFloat(cep);
                            jQuery('#tutar').val(inputVal.toFixed(2));
                            var masks = ['#,##0.00', '0.00'];
                            mask = (cep == 0) ? masks[1] : masks[0];
                            $('#tutar').mask(mask, options);
                        }
                        if (cep.length == 0 || cep.length == 2) {
                            $('#tutar').val('0.00');
                        }
                        if (cep.length == 1) {
                            $('#tutar').val(cep + '.00');
                            console.log('ctrl a selected');
                        }
                        // setCaretToPos(jQuery('#money')[0], 4);
                    },
                    reverse: true
                };
                $('#tutar').mask('00.00', options);
            }
        });
    </script>


</body>
</html>
