
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>&#220;ye Girişi | Kart38</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" />
    <meta name="author" content="Loop Dijital" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="google-site-verification" content="t2q0sja310dMVTTAfxD52tH3Ssu3enGL9y_VqdE89_A" />
    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PGN8YNTGLR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-PGN8YNTGLR');
    </script>
    <!-- End Google Analytics -->
    <link href="https://kart38.com/assets/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700|Rubik:400,500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://kart38.com/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />


    <link href="https://kart38.com/assets/css/style.css" rel="stylesheet" type="text/css" />

    <script src="https://kart38.com/assets/js/font-awesome-e1329018ac.js" crossorigin="anonymous"></script>
    <link href="https://kart38.com/assets/css/validetta.min.css" rel="stylesheet" type="text/css" />

    <link rel="apple-touch-icon" sizes="180x180" href="https://kart38.com/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://kart38.com/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://kart38.com/assets/images/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="https://kart38.com/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
</head>
<body>
    <header class="home-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-11">
                    <ul class="menu_butons">
                        <li><a class="btn  btn-light" href="/uye-ol"><span>Üye Ol</span> <img src="https://kart38.com/assets/images/icons/icon-1.png" alt="uye ol" /></a></li>
                        <li><a class="btn  btn-light" href="/uye-giris"><span>Üye Girişi</span> <img src="https://kart38.com/assets/images/icons/icon-2.png" alt="uye giris" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 offset-sm-1 col-md-2 offset-md-0 col-lg-3 offset-lg-2 logo">
                    <a href="/"><img src="~/carbook-master/images/çokkeçecı kütüphaneleri Store (1).png" alt="Kart38 Logo" style="border-radius:50%;" /></a>
                </div>
                <div class="col-sm-7 col-md-10 col-lg-7 menubar">
                    <nav class="navbar navbar-expand-md navbar-ozel navbar-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu-list" aria-controls="navbar-menu-list" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-menu-list">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active hvr-underline-reveal">
                                    <a class="nav-link" href="#"><img src="https://kart38.com/assets/images/icons/icon-6.png" alt="icon-4" /><span>KitapKart <br /> Nedir?</span></a>
                                </li>
                                <li class="nav-item hvr-underline-reveal">
                                    <a class="nav-link" href="#"><img src="https://kart38.com/assets/images/icons/icon-4.png" alt="icon-6" /><span>Nereden <br /> Alınır</span></a>
                                </li>
                                <li class="nav-item hvr-underline-reveal">
                                    <a class="nav-link" href="#"><img src="https://kart38.com/assets/images/icons/icon-5.png" alt="icon-5" /><span>KitapKart <br />Tarifeler</span></a>
                                </li>
                                <li class="nav-item hvr-underline-reveal">
                                    <a class="nav-link" href="#"><img src="https://kart38.com/assets/images/icons/icon-7.png" alt="icon-7" /><span> KitapKart <br /> İşlemler</span></a>
                                </li>
                                <li class="nav-item hvr-underline-reveal" style="display:none">
                                    <a class="nav-link" href="#"><img src="https://kart38.com/assets/images/icons/online-basvuru.png" alt="icon-8" /><span> Online <br /> Başvuru</span></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="seperator sep01" style="clear:both">
            <span class="up"></span><span></span>
        </div>
        <div class="short" style="background: #001436; padding:15px 0">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4 style="margin-bottom:0;color: #898989;"><a href="/" style="color:#fff">Anasayfa</a><span> / </span> <a href="javascript:;" style="color:#cacaca;font-size: 22px;">&#220;ye Giriş</a></h4>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <div class="content">
        <section id="tabs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 offset-sm-3">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Giriş </a>
                                <a class="nav-item nav-link " id="nav-first-tab" data-toggle="tab" href="#nav-first" role="tab" aria-controls="nav-first" aria-selected="false">Şifremi Unuttum</a>
                            </div>
                        </nav>
                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <form id="contact-form" method="post" >
                                    <input name="__RequestVerificationToken" type="hidden" value="f12wGaM95-cykmESfqppM1-QlWmUm0bzrg8N_TFGfz6wgSglPyj6QHokII9s57OgxVigvWtPUiCKsVRSGjAmdiacd7LxfBVX_mP9LIsE6a01" />
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <input type="text" name="email" class="form-control" data-validetta="required" placeholder="E-Posta veya GSM No" value="">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <input type="password" name="sifre" class="form-control" data-validetta="required" placeholder="Şifreniz" value="">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm-6 ">
                                            <div class="g-recaptcha" name="recaptcha" data-sitekey="6LcUlhkbAAAAAG1LUbc-Dat9mWC9oUubI_iMizjX"></div>
                                        </div>
                                        <div class="form-group col-sm-6 text-right">
                                            <input type="hidden" name="botkontrol" class="botkontrol" value="0">
                                            <button class="btn btn-success btn-lg btn-sbm" type="submit" name="login"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> GÖNDER </button>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <a class="text-info font-weight-bold text-decoration-none" href="/uye-ol">Üye olmak için tıklayınız</a>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade " id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab">
                                <form id="sifre-form" method="post" action="/uye/uyesifrereset">
                                    <input name="__RequestVerificationToken" type="hidden" value="vWjgFBM9TYl_EOp7S8xEG92dx3MlBdGGj2Zfxs0a9eRE9DQcOkcLxtu1qpfi9eYJjTGpdioWaYzvLlBQG8wK1t2mrLTMd6mqv1lO8H0mEK81" />
                                    <div class="form-row">
                                        <div class="form-group  col-sm-12">
                                            <select id="reset-type" class="custom-select" name="reset-type">
                                                <option value="sms" selected>SMS ile şifremi yenilemek istiyorum.</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <input type="text" id="reset-gsm" name="gsm" class="form-control" data-validetta="required,number,minLength[11],maxLength[11]" placeholder="Örn. 05xxxxxxxxx">
                                            <input type="text" id="reset-email" style="display:none;" disabled name="email" class="form-control" data-validetta="required,email" placeholder="E-Postanız" value="">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-sm-6">
                                            <div class="g-recaptcha" name="recaptcha" data-sitekey="6LcUlhkbAAAAAG1LUbc-Dat9mWC9oUubI_iMizjX"></div>
                                        </div>
                                        <div class="form-group col-sm-6 text-right">
                                            <button class="btn btn-success btn-lg btn-sbm" type="submit" name="resetsifre"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> GÖNDER</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
    <footer>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="shortcut">
                            <li><a href="#">KitapKart Nedir?</a></li>
                            <li><a href="#">KitapKart Tarifeler</a></li>
                            <li><a href="#">Nereden Alınır?</a></li>
                            <li><a href="#">KitapKart İşlemler</a></li>
                            <li><a href="#">İletişim</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="shortcut">
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">Yardım Merkezi</a></li>
                            <li><a href="#">Üyelik Sözleşmesi</a></li>
                            <li><a href="#">Gizlilik & Güvenlik</a></li>
                            <li><a href="#">Yasal Uyarı</a></li>
                            <li><a href="#">KitapKart Kullanım Koşulları</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <address>
                            <p><img src="https://kart38.com/assets/images/icons/map.png" alt="eposta">Battalgazi Mah. Demircioğlu Sok. Gelincik Sit. A/Blok KitapKart işlem merkezi Melikgazi / KAYSERİ</p>
                            <p><img src="https://kart38.com/assets/images/icons/call.png" alt="eposta"><a href="tel:153">Müşteri Destek Hattı : 0533 038 08 30</a></p>
                        </address>
                    </div>

                </div>
                <div class="row row-line">
                    <div class="col-sm-12 col-md-6">
                        <p class="rights">KitapKart.com &copy; 2013 - @DateTime.Now.Year. Her Hakkı Saklıdır. <strong>Version: 3.0.9</strong></p>
                        <p><a href="https://www.e-kent.com.tr/" rel="noopener noreferrer" target="_blank">Designed by ÇOKKEÇECİ YAZILIM</a></p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-to-top" onclick="topFunction()"></div>
    </footer>
    <script src="https://kart38.com/assets/js/jquery-3.6.1.min.js" type="text/javascript"></script>
    <script src=https://kart38.com/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script>
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) { $(".scroll-to-top").css("display", "block"); } else { $(".scroll-to-top").css("display", "none"); }
        }
        function topFunction() { document.body.scrollTop = 0; document.documentElement.scrollTop = 0; }
    </script>

    <script src="https://www.google.com/recaptcha/api.js?hl=tr" async defer></script>
    <script type="text/javascript" src="https://kart38.com/assets/js/validetta.min.js"></script>
    <script type="text/javascript" src="https://kart38.com/assets/js/validettaLang-tr-TR.js"></script>
    <script>
        $('#contact-form').validetta({
            validators: {
                regExp: {

                    // you can add more
                    alfanum: {
                        pattern: /^[a-zA-Z0-9]+$/,
                        errorMessage: 'Sadece rakam ve alfabetik karakter kullanınız'
                    }
                }
            },
            /** You can display errors as inline or bubble */
            display: 'bubble', // bubble or inline
            realTime: true,
            bubblePosition: 'bottom', // Bubble position // right / bottom

        });
        $('#sifre-form').validetta({
            validators: {
                regExp: {

                    // you can add more
                    alfanum: {
                        pattern: /^[a-zA-Z0-9]+$/,
                        errorMessage: 'Sadece rakam ve alfabetik karakter kullanınız'
                    }
                }
            },
            /** You can display errors as inline or bubble */
            display: 'bubble', // bubble or inline
            realTime: true,
            bubblePosition: 'bottom', // Bubble position // right / bottom

        });

        $('#reset-type').change(function () {
            var inputGsm = $('#reset-gsm');
            var inputEmail = $('#reset-email');
            if (this.value == "email") {
                inputGsm.hide().attr("disabled", true);
                inputEmail.show().attr("disabled", false);
            } else {
                inputEmail.hide().attr("disabled", true);
                inputGsm.show().attr("disabled", false);
            }
        })
    </script>

</body>
</html>
