
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head id="Head1">
    <title>
       Çokkeçeci Kütüphaneler Sistemi
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="keywords" content="Aras Kargo Kurumsal Giriş " />
    <meta name="description" content="Aras Kargo Kurumsal Giriş " />
    <link type="text/css" href="style.css" rel="stylesheet" />

    <style>

        @@import url('//fonts.googleapis.com/css?family=Open+Sans');
        @@import url('//fonts.googleapis.com/css?family=Open+Sans:light');
        @@import url('//fonts.googleapis.com/css?family=Open+Sans:bold');

        a {
            text-decoration: none;
            color: #DA1120;
        }

            a:visited {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
                color: #DA1120;
            }

        body {
            font-size: 13px;
            color: #606060;
            line-height: 20px;
            font-family: Open Sans, Century Gothic, Verdana, Helvetica, sans-serif;
            padding: 0;
            margin: 0;
            background-color: #FFF;
            scrollbar-face-color: #cccccc;
            scrollbar-highlight-color: #cccccc;
            scrollbar-shadow-color: #f7f7f7;
            scrollbar-3dlight-color: #ffffff;
            scrollbar-arrow-color: #000099;
            scrollbar-track-color: #efefef;
            scrollbar-darkshadow-color: #cccccc;
        }

        .body_popup {
            background-color: #FFF;
            padding: 15px 10px 10px 10px;
        }

        #ImgLogoPopup {
            margin: 25px 0 25px 0;
        }

        .text {
        }


        .copyright {
            color: #969693;
            font-size: 11px;
            font-family: tahoma
        }

        input {
            font-family: Open Sans;
            color: #60607B;
            font-size: 16px;
            font-weight: normal;
            border: solid 1px #EBEBEB;
            border-bottom-width: 3px;
            border-left: solid 3px #285586;
            width: 280px;
            height: 40px;
            background-color: #FFF;
            padding: 1px 0 0 6px;
        }

            input:focus {
                background-color: #B8DBF4;
            }

        select {
            font-family: Open Sans;
            color: #60607B;
            font-size: 16px;
            font-weight: normal;
            border: solid 1px #EBEBEB;
            border-bottom: solid 2px #EBEBEB;
            height: 48px;
            background-color: #FFF;
            padding: 1px 0 0 6px;
        }

            select:focus {
                background-color: #B8DBF4;
            }

        .button {
            font-family: Open Sans;
            font-size: 16px;
            font-weight: normal;
            color: #FFFFFF;
            background-color: #DB1121;
            border: none;
            width: 150px;
            height: 40px;
        }

            .button:hover {
                cursor: pointer;
            }

        textarea {
            font-family: Open Sans;
            color: #60607B;
            font-size: 16px;
            font-weight: normal;
            border: solid 1px #EBEBEB;
            border-bottom: solid 2px #EBEBEB;
            height: 48px;
            background-color: #FFF;
            padding: 4px 0 0 6px;
            overflow: auto;
        }

            textarea:focus {
                background-color: #B8DBF4;
            }

        .form_row {
            margin: 10px 0 10px 0;
        }

        .form_header {
            width: 150px;
            text-align: right;
            display: inline-block;
            font-size: 12px;
            vertical-align: top;
        }

        #form_captcha {
            letter-spacing: 14px;
            text-align: center;
        }

        .table_advanced_header {
        }

        .table_advanced_standart {
        }

        .divmaphide {
        }

        .divmapshow {
        }

        .divmenuhide {
            display: none;
            position: absolute
        }

        .divmenushow {
            display: block;
            position: absolute;
            padding-left: 0;
            padding-top: 5
        }

        .table_editor {
        }

        .tdconmargin {
        }

        .td_bg {
            height: 1px;
            background-color: #EFEFEF;
        }

        .td_bg2 {
            height: 15px;
        }




        /* Proje Özel */

        .div_main {
            width: 1000px;
            margin: 0 auto 0 auto;
        }

        #ImgChat {
            position: fixed;
            bottom: 0px;
            right: 20px;
            z-index: 1000;
        }

        .scrollToTop {
            width: 51px;
            height: 51px;
            text-align: center;
            background: whiteSmoke;
            font-weight: bold;
            color: #444;
            text-decoration: none;
            position: fixed;
            bottom: 40px;
            left: 40px;
            display: none;
            background: url('images/scroll.png') no-repeat;
        }




        /* Üst Sosyal Medya Bar */

        #DivSocialRow {
            width: 100%;
            background-color: #415678;
            height: 35px;
            display: table;
            padding: 0;
        }

        #DivSocial {
            float: right;
        }

            #DivSocial img:hover {
                filter: alpha(opacity=50);
                -moz-opacity: 0.5;
                opacity: 0.5;
            }

            #DivSocial img {
                margin-top: 4px;
            }

        #ImgFw {
            margin: 3px 10px 0 10px;
        }

        #ImgFb {
            margin-right: 7px;
        }

        #ImgTw {
            margin-right: 7px;
        }

        #ImgGp {
            margin-right: 15px;
        }





        /* Logo Bar */

        #DivHeaderRow {
            width: 100%;
            background-color: #FFF;
            height: 83px;
            padding: 0;
            display: table;
        }

        #ImgLogo {
            border-style: none;
            margin: 0 auto 0 auto;
            display: block;
        }

        #ImgCall {
            float: right;
            margin-right: 20px;
            display: none;
        }





        /* Login */

        #DivLogin {
            width: 100%;
            background-color: #F0F1F3;
            height: 447px;
            background-image: url(https://esasweb.araskargo.com.tr/images/bg_login_full.jpg);
            background-repeat: repeat-x;
            display: table;
            padding: 0 0 20px 0;
        }

        #DivLoginBox {
            width: 725px;
            height: 405px;
            border: solid 5px #CBCBCB;
            border-radius: 14px;
            margin: 65px auto 0 auto;
            display: block;
            background-color: #FFF;
        }

        #SpanLoginHeadline {
            font-size: 24px;
            font-weight: bold;
            color: #285586;
            display: table;
            margin: 40px auto 0 auto;
        }

        #TableLogin {
            margin: 30px auto 0 auto;
            width: 650px;
        }

        #ButtonForget {
            width: 290px;
            background-color: #CBCBCB;
            border-color: #CBCBCB;
            border-radius: 5px;
            font-size: 14px;
            font-weight: bold;
            color: #FFF;
        }

            #ButtonLogin:hover, #ButtonForget:hover {
                cursor: pointer;
                filter: alpha(opacity=70);
                -moz-opacity: 0.7;
                opacity: 0.7;
            }

        #ButtonLogin {
            width: 290px;
            background-color: #285586;
            border-color: #285586;
            border-radius: 5px;
            font-size: 14px;
            font-weight: bold;
            color: #FFF;
        }

        #TdWarning {
            font-size: 12px;
            color: #C8CACC;
            text-align: center;
        }

        #TdWarning2 {
            font-size: 12px;
            color: #C8CACC;
            text-align: center;
        }




        /* Banner */

        #DivDhtml {
            width: 100%;
            height: 430px;
            background-image: url(https://www.araskargo.com.tr/web_18712_1/images/othersystems/kurumsal_giris.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            z-index: 2;
            display: table;
        }




        /* Footer */

        #DivFooter {
            width: 100%;
            background-color: #28457F;
            margin: 0 0 0 0;
            display: table;
            padding-bottom: 35px;
        }

        #ImgLogoFooter {
            margin: 20px 0;
            float: left;
        }

        #DivFooter #ACopyRight {
            margin: 30px 0;
            float: right;
        }

        #DivFooter a.headline {
            font-size: 14px;
            margin: 0 0 15px 0;
            color: #FFFFFF;
        }

        #DivFooter a:hover {
            color: #FFF;
            text-decoration: none;
        }

        #DivFooter a {
            display: block;
            font-size: 12px;
            color: #D9DDE4;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <form name="Form1" method="post" action="./" id="Form1">
        <div>
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTEwOTU1OTQ2MTRkZGFyn+OT+QBSAdbNuU2eCbpXdJx4" />
        </div>

        <div>

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="0C51E059" />
            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAAbgctCpuGrD5HfpjpO6FCNAVK7BrRAtEiqu9nGFEI+jB3Y2+Mc6SrnAqio3oCKbxYY1r/Uhqs42oeRRlAw2Po+IyelO89vdWhb8Al+4o2wC8lK11shHFZvIi/mBzIEQ1OYDoy7Nl3W260rF+/Cs5w0F47Y6SQ==" />
        </div>
        <!-- Menu -->
        <a href="#" class="scrollToTop"></a>
        <a href="#" onclick="window.open('https://localhost:7261/KargoTakip/Kart38Login','','width=1189,height=711,top=50,left=50,scrollbars=yes');return false;">
            <img id="ImgChat" src="\images\logo.png" style="bottom: 10px;width:190px; height:150px;" border="0" />
        </a>
        <div id="DivSocialRow">
            <div class="div_main">
                <div id="DivSocial">
                    <img src="https://esasweb.araskargo.com.tr/images/icon_callcenter.jpg" />
                    <!--<img id="ImgFw" src="images/icon_follow.jpg" />-->
                    <a href="https://www.facebook.com/araskargo" target="_blank"><img id="ImgFb" src="https://esasweb.araskargo.com.tr/images/icon_fb.jpg" alt="Lütfen Facebook Sayfamız için Tıklayınız >" /></a>
                    <a href="http://www.twitter.com/araskargo" target="_blank"><img id="ImgTw" src="https://esasweb.araskargo.com.tr/images/icon_tw.jpg" alt="Lütfen Twitter Sayfamız için Tıklayınız >" /></a>
                    <a href="https://www.instagram.com/aras_kargo/" target="_blank"><img id="ImgTw" src="https://esasweb.araskargo.com.tr/images/icon_ins.jpg" alt="Lütfen Instagram Sayfamız için Tıklayınız >" /></a>
                    <a href="https://www.linkedin.com/company-beta/1158568/" target="_blank"><img id="ImgTw" src="https://esasweb.araskargo.com.tr/images/icon_in.jpg" alt="Lütfen Linked In Sayfamız için Tıklayınız >" /></a>
                    <a href="https://www.youtube.com/user/araskargoonemtasir" target="_blank"><img id="ImgTw" src="https://esasweb.araskargo.com.tr/images/icon_yt.jpg" alt="Lütfen YouTube Sayfamız için Tıklayınız >" /></a>
                    <!--<a href="https://plus.google.com/118338011823408866332" target="_blank"><img id="ImgGp" src="images/icon_gp.jpg" alt="Lütfen Google+ Sayfamız için Tıklayınız >" /></a>-->
                </div>
            </div>
        </div>
        <div id="DivHeaderRow">
            <div class="div_main">
                <a href="FrmLogin.aspx"><img id="ImgLogo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOvDszjqUiTshbBhH6aopOv6wkCjhgHSX58_3b7R1ZtrXWodLOgaAk2YGSFQ4Ln2MgAuI&usqp=CAU" width="120" height="120" style="border-radius:50%;" alt="Lütfen Anasayfa için Tıklayınız >" /></a>
            </div>
        </div>
        <!-- Menu -->
        <div id="DivLogin">
            <div class="div_main">
                <div id="DivLoginBox">
                    <span id="SpanLoginHeadline">KURUMSAL KULLANICI GİRİŞİ</span>
                    <table id="TableLogin">
                        <tr>
                            <td><span>Kullanıcı Adı: </span></td>
                            <td style="width: 30px;"></td>
                            <td><span>Şifre: </span></td>
                        </tr>
                        <tr>
                            <td>
                                <input name="txtUsername" type="text" id="txtUsername" value="" onfocus="this.value=&#39;&#39;;" onblur="if (this.value==&#39;&#39;) {this.value=&#39;&#39;;}" />
                            </td>
                            <td style="width: 30px;"></td>
                            <td>
                                <input name="txtPassword" type="password" id="txtPassword" value="" autocomplete="off" />

                            </td>
                        </tr>
                        <tr>
                            <td style="height: 20px;"></td>
                        </tr>

                        <tr>
                            <td style="height: 20px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" name="ButtonLogin" value="GİRİŞ YAP" id="ButtonLogin" />
                            </td>
                            <td></td>
                            <td>
                                <input type="submit" name="ButtonForget" value="ŞİFREMİ UNUTTUM" id="ButtonForget" />
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 10px;"></td>
                        </tr>
                        <tr>
                            <td id="TdWarning" colspan="3">Şifrenizi kimseyle paylaşmayınız. Size hiçbir zaman şifrelerinizi soran, bilgilerinizi güncellemenizi veya şifrelerinizi değiştirmenizi söyleyen bir e-postayı ARAS KARGO A.Ş. Size yollamaz.</td>

                        </tr>
                        <tr> <td id="TdWarning2" colspan="3">En iyi performans için Internet Explorer 11 kullanın.</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- Menu -->
        <div id="DivDhtml"></div>
        <div id="DivFooter">
            <div class="div_main">
                <img id="ImgLogoFooter" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOvDszjqUiTshbBhH6aopOv6wkCjhgHSX58_3b7R1ZtrXWodLOgaAk2YGSFQ4Ln2MgAuI&usqp=CAU" width="90" height="90" style="border-radius:50%;" />
                <a id="ACopyRight" href="neuralnetwork.aspx?type=1536">&copy; @DateTime.Now.Year Çokkeçeci Kütüphane Şubeleri - Tüm Hakları Saklıdır</a>
            </div>
        </div>
        <!-- Menu -->
    </form>
</body>
</html>
