
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>KitapKart Nedir? | KitapKart</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" />
    <meta name="author" content="Loop Dijital" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="google-site-verification" content="t2q0sja310dMVTTAfxD52tH3Ssu3enGL9y_VqdE89_A" />
    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PGN8YNTGLR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-PGN8YNTGLR');
    </script>
    <!-- End Google Analytics -->
    <link href="https://kart38.com/assets/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700|Rubik:400,500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://kart38.com/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />


    <link href="https://kart38.com/assets/css/style.css" rel="stylesheet" type="text/css" />

    <link rel="apple-touch-icon" sizes="180x180" href="https://kart38.com/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://kart38.com/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://kart38.com/assets/images/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="https://kart38.com/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
</head>
<body>
    <header class="home-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-11">
                    <ul class="menu_butons">
                        <li><a class="btn  btn-light" href="/KargoTakip/Kartlarim"><span>Online İşlemler</span> <img src="https://kart38.com/assets/images/icons/icon-9.png" alt="uye giris" /></a></li>
                        <li><a class="btn  btn-light" href="/uye/uyelogout"><span>Çıkış</span> <img src="https://kart38.com/assets/images/icons/icon-10.png" alt="uye ol" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 offset-sm-1 col-md-2 offset-md-0 col-lg-3 offset-lg-2 logo">
                    <a href="/"><img src="~/carbook-master/images/çokkeçecı kütüphaneleri Store (1).png" alt="Kart38 Logo" style="border-radius:50%;" /></a>
                </div>
                <div class="col-sm-7 col-md-10 col-lg-7 menubar">
                    <nav class="navbar navbar-expand-md navbar-ozel navbar-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu-list" aria-controls="navbar-menu-list" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-menu-list">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active hvr-underline-reveal">
                                    <a class="nav-link" href="/KargoTakip/KitapKartNedir"><img src="https://kart38.com/assets/images/icons/icon-6.png" alt="icon-4" /><span>KitapKart <br /> Nedir?</span></a>
                                </li>
                                <li class="nav-item hvr-underline-reveal">
                                    <a class="nav-link" href="/islem-merkezi"><img src="https://kart38.com/assets/images/icons/icon-4.png" alt="icon-6" /><span>Nereden <br /> Alınır</span></a>
                                </li>
                                <li class="nav-item hvr-underline-reveal">
                                    <a class="nav-link" href="/KargoTakip/KitapKartTarifeleri"><img src="https://kart38.com/assets/images/icons/icon-5.png" alt="icon-5" /><span>KitapKart <br />Tarifeler</span></a>
                                </li>
                                <li class="nav-item hvr-underline-reveal">
                                    <a class="nav-link" href="/islemler"><img src="https://kart38.com/assets/images/icons/icon-7.png" alt="icon-7" /><span> KitapKart <br /> İşlemler</span></a>
                                </li>
                                <li class="nav-item hvr-underline-reveal" style="display:none">
                                    <a class="nav-link" href="/kart-basvuru"><img src="https://kart38.com/assets/images/icons/online-basvuru.png" alt="icon-8" /><span> Online <br /> Başvuru</span></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="seperator sep01" style="clear:both">
            <span class="up"></span><span></span>
        </div>
        <div class="short" style="background: #001436; padding:15px 0">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4 style="margin-bottom:0;color: #898989;"><a href="/" style="color:#fff">Anasayfa</a><span> / </span> <a href="javascript:;" style="color:#cacaca;font-size: 22px;">KitapKart Nedir</a></h4>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <div class="content">


        <section id="tabs">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">KitapKart <br /> Nedir?</a>
                                <a class="nav-item nav-link" id="nav-first-tab" data-toggle="tab" href="#nav-first" role="tab" aria-controls="nav-first" aria-selected="false">KitapKart <br /> Tipleri</a>
                                <a class="nav-item nav-link" id="nav-third-tab" data-toggle="tab" href="#nav-third" role="tab" aria-controls="nav-third" aria-selected="false">KitapKart <br /> Uyarı</a>
                            </div>
                        </nav>
                        <div class="tab-content py-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div style="text-align:center">
                                    <img src="~/carbook-master/images/tamkart.png" width="285" height="164" alt="Kart görseli" style="border-radius:15px;">
                                    <img src="~/carbook-master/images/indirimlikart.png" width="285" height="164" alt="Kart görseli" style="border-radius:15px;margin-left:5px;">
                                    <br />
                                    <img src="~/carbook-master/images/serbest.png" width="285" height="164" alt="Kart görseli" style="border-radius:15px;margin-top:5px;">
                                    <img src="~/carbook-master/images/on.png" width="285" height="164" alt="Kart görseli" style="border-radius:15px;margin-left:5px;margin-top:5px;">
                                </div>
                                <br />
                                <h3>KitapKart: Okumayı Kolaylaştıran Kart</h3>
                                <p>
                                    KitapKart, modern kütüphane sistemlerinin vazgeçilmez bir parçasıdır. Okuyucuların kitap alımını ve kütüphane hizmetlerini daha kolay, hızlı ve verimli hale getiren bir kart sistemidir. Adından da anlaşılacağı gibi, KitapKart ile kitap almak artık çok daha keyifli ve pratiktir.
                                </p>
                                <h3>Nasıl Çalışır?</h3>
                                <p>
                                    KitapKart, kullanıcıların kütüphane hizmetlerinden yararlanırken kimlik doğrulamasını sağlayan bir kart sistemidir. Üyeler, kütüphanelerdeki kitapları ödünç alırken veya iade ederken KitapKart'ı kullanırlar. Kart, okuyucuların kişisel bilgilerini ve ödünç aldıkları kitapların kaydını tutar.
                                </p>

                                <h3>Avantajları Nelerdir?</h3>
                                <p>
                                    1. <strong>Hızlı İşlem:</strong> KitapKart, kütüphane işlemlerini hızlandırır. Üyeler, sıra beklemek veya uzun süre formları doldurmak zorunda kalmadan kitap alıp iade edebilirler.<br />
                                    2. <strong>Güvenlik ve Kimlik Doğrulama:</strong> KitapKart, kütüphane hizmetlerinde güvenliği artırır. Üyelerin kimliklerini doğrulamak için kullanılır, böylece kütüphane kaynaklarının kötüye kullanımı engellenir.<br />
                                    3. <strong>Kolay Taşınabilirlik:</strong> KitapKart, küçük boyutu ve pratik tasarımıyla her yere kolayca taşınabilir. Bu, okuyucuların kütüphane hizmetlerinden her zaman ve her yerde yararlanmalarını sağlar.<br />
                                    4. <strong>Kişiselleştirilmiş Hizmet:</strong> KitapKart, okuyucuların kütüphane alışkanlıklarını takip ederek kişiselleştirilmiş öneriler sunabilir. Böylece kullanıcılar, ilgi alanlarına uygun kitapları daha kolay keşfedebilirler.
                                </p>

                                <h3>Neden KitapKart Kullanmalısınız?</h3>
                                <p>
                                    KitapKart, okuma deneyimini geliştiren ve kütüphane hizmetlerini daha erişilebilir kılan bir sistemdir. Geleneksel kütüphane işlemlerini modernize ederken, kullanıcıların kitapları keşfetme ve okuma keyfini artırmaya odaklanır.

                                    KitapKart ile okuma dünyasına adım atın ve kitapları keşfetmenin yeni ve pratik yolunu deneyimleyin!
                                </p>
                            </div>
                            <div class="tab-pane fade" id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab">
                                <div class="box-shadowbig">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4">
                                            <img src="~/carbook-master/images/tamkart.png" width="285" height="164" alt="Kart görseli" style="border-radius:15px;" />
                                        </div>
                                        <div class="col-sm-12 col-md-8">
                                            <h4>Tam KitapKart</h4>
                                            <p>Ulaşım hatlarımız üzerinde yer alan duraklara yakın noktalardaki Gişe, Otomatik Dolum Noktaları (Kiosklar) ve bayilerimizden temin edebildiğiniz ulaşım kartıdır.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-shadowbig">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4">
                                            <img src="~/carbook-master/images/indirimlikart.png" width="285" height="164" alt="Kart görseli" style="border-radius:15px;" />
                                        </div>
                                        <div class="col-sm-12 col-md-8">
                                            <h4>İndirimli KitapKart</h4>
                                            <p>Öğrencilerin aşağıda belirtilen evraklar ile KitapKart İşlem Merkezleri'ne başvuru yapılarak alınan kişiselleştirilmiş kartlardır. Kişiye özel olan bu kartların başkaları tarafından kullanımı yasaktır. Böyle durumlarda karta el konularak kart kara listeye alınmaktadır.</p>
                                            <p>
                                                KitapKart İşlem Merkezlerinde, indirimli kart alırken yanınızda bulunması gereken evrakların listesine aşağıdaki linklerden ulaşabilirsiniz.
                                            </p>
                                            <div class="panel-group boxliste" id="accordion" role="tablist" aria-multiselectable="true">
                                                <h6 class="text-center">GEREKLİ EVRAKLAR</h6>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading bordert" role="tab" id="heading-2">
                                                        <h5 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2" class="collapsed">
                                                                <img src="https://kart38.com/assets/images/icons/ogrenci.png" alt="Ogrenci icon" /> Öğrenci
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2">
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li>Nüfus Cüzdanı Fotokopisi </li>
                                                                <li>1 Adet Vesikalık Fotoğraf</li>
                                                                <li>
                                                                    Öğrenciler için ilgili yıl içerisinde MEB veya YÖK'e bağlı okullara kayıtlı ise MEB ve YÖK sorgusu sonucunda öğrenci kaydı olumlu sonuçlanan kişiler.
                                                                    (Öğrenci kaydınız ile ilgili bilgilere sistemden ulaşılabilmektedir.)
                                                                </li>
                                                            </ul>

                                                            <p>
                                                                Açık ilköğretim, orta öğretim, lise ve resmi kurum kurs öğrencileri, öğretmenler ile üniversite ve üniversite hazırlık dershane öğrencilerinin sosyal güvenlik kayıtlarının olması durumunda öğrenci tanımı içerisinde yer almazlar.
                                                            </p>
                                                        </div>
                                                    </div>
                                                    
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-shadowbig">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4">
                                            <img src="~/carbook-master/images/serbest.png" width="285" height="164" alt="Kart görseli" style="border-radius:15px;" />
                                        </div>
                                        <div class="col-sm-12 col-md-8">
                                            <h4>Serbest KitapKart</h4>
                                            <p>
                                                Gazi, Gazi Yakını ve Şehit Yakınları ve Vazife Malulü için tahsis edilecek olan kartlar olup, ücretsiz binişler için kullanılmaktadır. (Aile Sosyal Politikalar Bakanlığı’nca verilen kartlar.) 65 Yaş, Engelli, Engelli Refakatçi,  kartları serbest kart grubunda yer almaktadır.
                                            </p>
                                            <div class="panel-group boxliste" id="accordion2" role="tablist" aria-multiselectable="true">
                                                <h6 class="text-center">GEREKLİ EVRAKLAR</h6>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="heading-3">
                                                        <h6 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-10" aria-expanded="true" aria-controls="collapse-3" class="collapsed">
                                                                <img src="https://kart38.com/assets/images/icons/yasli.png" alt="Ogretmen icon" />İstenilen Evraklar
                                                            </a>
                                                        </h6>
                                                    </div>
                                                    <div id="collapse-10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3">
                                                        <div class="panel-body">
                                                            <ul>
                                                                <li>Nüfus Cüzdanı Aslı veya Ehliyet Fotokopisi </li>
                                                                <li>1 Adet Vesikalık Fotoğraf</li>
                                                                <li>Söz konusu durumu belgeleyen (65 yaş, engelli, refakatçi vb.) kart veya resmi belge.</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
             
                            <div class="tab-pane fade" id="nav-third" role="tabpanel" aria-labelledby="nav-third-tab">
                                <ul style="list-style:none;padding:0">
                                    <li>
                                        <p style="clear:both"><img src="https://kart38.com/assets/images/ankarakart-kullanim-1.jpg" alt="Kart38 Çeşitleri" style="float:left;">KitapKart'ınızı doğrudan güneş ışığı altında bırakmayınız. KitapKart'ınızın çalışma sıcaklığı -20 derece ile 50 derece aralığındadır. KitapKart'ınızı, ısı kaynaklarından uzak tutmalısınız. </p>
                                    </li>
                                    <li> <p style="clear:both"><img src="https://kart38.com/assets/images/ankarakart-kullanim-2.jpg" alt="Kart38 Çeşitleri" style="float:left;">KitapKart'ınızı, cep telefonu, telsiz, televizyon gibi elektro-manyetik alanlardan etkilenmez.</p></li>
                                    <li><p style="clear:both"><img src="https://kart38.com/assets/images/ankarakart-kullanim-3.jpg" alt="Kart38 Çeşitleri" style="float:left;">KitapKart'ınızın yüzeyini temizlemek için yumuşak bir bez kullanınız. Yüzeye kolonya, alkol, tiner gibi aşındırıcı ve çözücü kimyasallar uygulamayınız.</p></li>
                                    <li><p style="clear:both"><img src="https://kart38.com/assets/images/ankarakart-kullanim-4.jpg" alt="Kart38 Çeşitleri" style="float:left;">KitapKart'ınız, delinme, kesilme, sürtünme, yırtılma, kart yüzeyine sert bir darbenin etki etmesi, katlama, eğme veya bükme durumlarında kullanılamaz duruma gelebilir.</p></li>
                                    <li><p style="clear:both"><img src="https://kart38.com/assets/images/ankarakart-kullanim-5.jpg" alt="Kart38 Çeşitleri" style="float:left;">KitapKart'ınızı eğilme veya kırılmayı engelleyecek bir koruyucu kap veya kılıf olmadan taşımayınız.</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <footer>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="shortcut">
                            <li><a href="/KargoTakip/KitapKartNedir">KitapKart Nedir?</a></li>
                            <li><a href="/KargoTakip/KitapKartTarifeleri">KitapKart Tarifeler</a></li>
                            <li><a href="#">KitapKart İşlemler</a></li>
                            <li><a href="#">İletişim</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="shortcut">
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">Yardım Merkezi</a></li>
                            <li><a href="#">Üyelik Sözleşmesi</a></li>
                            <li><a href="#">Gizlilik & Güvenlik</a></li>
                            <li><a href="#">Yasal Uyarı</a></li>
                            <li><a href="#">KitapKart Kullanım Koşulları</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <address>
                            <p><img src="https://kart38.com/assets/images/icons/map.png" alt="eposta">Battalgazi Mah. Demircioğlu Sok. Gelincik Sit. A/Blok KitapKart işlem merkezi Melikgazi / KAYSERİ</p>
                            <p><img src="https://kart38.com/assets/images/icons/call.png" alt="eposta"><a href="tel:153">Müşteri Destek Hattı : 0533 038 08 30</a></p>
                        </address>
                    </div>

                </div>
                <div class="row row-line">
                    <div class="col-sm-12 col-md-6">
                        <p class="rights">KitapKart.com &copy; 2013 - @DateTime.Now.Year. Her Hakkı Saklıdır. <strong>Version: 3.0.9</strong></p>
                        <p><a href="https://www.e-kent.com.tr/" rel="noopener noreferrer" target="_blank">Designed by ÇOKKEÇECİ YAZILIM</a></p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-to-top" onclick="topFunction()"></div>
    </footer>
    <script src="https://kart38.com/assets/js/jquery-3.6.1.min.js" type="text/javascript"></script>
    <script src="https://kart38.com/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script>
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) { $(".scroll-to-top").css("display", "block"); } else { $(".scroll-to-top").css("display", "none"); }
        }
        function topFunction() { document.body.scrollTop = 0; document.documentElement.scrollTop = 0; }
    </script>

</body>
</html>
