@{
    Layout = null;
}





<div class="">
    <div class="aHl"></div><div id=":n6" tabindex="-1"></div><div id=":mw" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc4ODcyMjc5MDQ2NTIwMDIwNiJd; 4:WyIjbXNnLWY6MTc4ODcyMjc5MDQ2NTIwMDIwNiJd">
        <div id=":mv" class="a3s aiL msg8449705782211249323">
            <u></u>

            <div>

                <table style="width:100%;max-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody>
                        <tr>
                            <td bgcolor="#ffffff" align="center">

                                <table class="m_8449705782211249323row" style="width:600px;max-width:600px" width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td bgcolor="#ffffff" align="center">

                                                <table class="m_8449705782211249323row" style="width:540px;max-width:540px" width="540" cellspacing="0" cellpadding="0" border="0" align="center">
                                                    <tbody>
                                                        <tr>
                                                            <td class="m_8449705782211249323container-padding" align="center">

                                                                <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" class="m_8449705782211249323row" style="width:540px;max-width:540px">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center">

                                                                                <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%;max-width:100%">
                                                                                    <tbody>
                                                                                        <tr><td height="30">&nbsp;</td></tr>
                                                                                        <tr>
                                                                                            <td align="center">
                                                                                                <img style="display:block;width:50%;max-width:300px" width="270" alt="img" src="https://www.pandoracarhire.com.tr/system/template/pandora/images/visamastertroy.png" class="CToWUd" data-bit="iit">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr><td height="30">&nbsp;</td></tr>
                                                                                        <tr><td height="30" style="border-top:1px solid #eeeeee">&nbsp;</td></tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <table style="width:100%;max-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody>
                        <tr>
                            <td bgcolor="#ffffff" align="center">

                                <table class="m_8449705782211249323row" style="width:600px;max-width:600px" width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td bgcolor="#ffffff" align="center">

                                                <table class="m_8449705782211249323row" style="width:540px;max-width:540px" width="540" cellspacing="0" cellpadding="0" border="0" align="center">
                                                    <tbody>
                                                        <tr>
                                                            <td class="m_8449705782211249323container-padding" align="center">

                                                                <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" class="m_8449705782211249323row" style="width:540px;max-width:540px">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center">

                                                                                <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%;max-width:100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="center" style="font-family:'Poppins',Arial,sans-serif;font-weight:500;font-size:24px;color:#000000!important">
                                                                                                <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%;max-width:100%">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td align="center" style="font-family:'Poppins',Arial,sans-serif;font-weight:500;font-size:24px;color:#000000!important">İşleminiz Başarılı</td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%;max-width:100%">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td height="18">&nbsp;</td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%;max-width:100%">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td align="center" style="font-family:'Poppins',Arial,sans-serif;font-weight:300;font-size:14px;color:#000000!important">
                                                                                                                Sayın BURAK ÇOKKEÇECİ;<br><br>
                                                                                                                Çokkeçeci Bulut Servisi tercih ettiğiniz için teşekkür ederiz.<br><br>
                                                                                                                5170 **** **** 7106 Numaralı Kartınız Sisteme Kayıt Edilmiştir. Kartınızdan Herhangi Bir Ücret Çekimi Yapılmamıştır. Dilerseniz Kart Bilgilerinizi Kontrol Edip, Yeni Kart Ekleyebilirsiniz.<br><br>Sorularınız için bizi 0533 038 08 30 numaralı telefondan arayabilir, <a href="https://www.cokkececiyazilim.com/bize-ulasin" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.mavi.com/bize-ulasin&amp;source=gmail&amp;ust=1705947967869000&amp;usg=AOvVaw3xgydu7nZ5AEPRz1Mr0d0R">iletişim formumuzu</a> doldurabilir ya da <a href="mailto:cokkececibbva@gmail.com" target="_blank">cokkececibbva@gmail.com</a> adresine e-mail atabilirsiniz.
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%;max-width:100%">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td height="30">&nbsp;</td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                                <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%;max-width:100%">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td align="center">
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <table style="width:100%;max-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody>
                        <tr>
                            <td bgcolor="#ffffff" align="center">

                                <table class="m_8449705782211249323row" style="width:600px;max-width:600px" width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td bgcolor="#ffffff" align="center">

                                                <table class="m_8449705782211249323row" style="width:540px;max-width:540px" width="540" cellspacing="0" cellpadding="0" border="0" align="center">
                                                    <tbody>
                                                        <tr>
                                                            <td class="m_8449705782211249323container-padding" align="center">

                                                                <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" class="m_8449705782211249323row" style="width:540px;max-width:540px">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center">

                                                                                <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%;max-width:100%">
                                                                                    <tbody>
                                                                                        <tr><td height="20">&nbsp;</td></tr>
                                                                                        <tr>
                                                                                            <td align="center">
                                                                                                <a href="https://app.adjust.com/1fdj0dn" style="color:#ffffff" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://app.adjust.com/1fdj0dn&amp;source=gmail&amp;ust=1705947967869000&amp;usg=AOvVaw1BCjMCIFrWdi4rjIUlxirS">
                                                                                                    <img style="display:block;width:100%;max-width:100%" alt="img" src="https://www.icbc.com.tr/tr/images/homeslide/masterpass_banner_679x316px-tr.jpg" width="100%" class="CToWUd" data-bit="iit">
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr><td height="20">&nbsp;</td></tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <table style="width:100%;max-width:100%" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tbody>
                        <tr>
                            <td bgcolor="#ffffff" align="center">

                                <table class="m_8449705782211249323row" style="width:600px;max-width:600px" width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                                    <tbody>
                                        <tr>
                                            <td bgcolor="#ffffff" align="center">

                                                <table class="m_8449705782211249323row" style="width:540px;max-width:540px" width="540" cellspacing="0" cellpadding="0" border="0" align="center">
                                                    <tbody>
                                                        <tr>
                                                            <td class="m_8449705782211249323container-padding" align="center">

                                                                <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" class="m_8449705782211249323row" style="width:540px;max-width:540px">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center">

                                                                                <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%;max-width:100%">
                                                                                    <tbody>
                                                                                        <tr><td height="20">&nbsp;</td></tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td align="center" style="font-family:'Poppins',Arial,sans-serif;font-weight:300;font-size:10px;color:#000000!important">
                                                                                                Sorularınız için bizi 0533 038 08 30 numaralı telefondan arayabilir ya da <a href="https://www.mavi.com/bize-ulasin" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.mavi.com/bize-ulasin&amp;source=gmail&amp;ust=1705947967869000&amp;usg=AOvVaw3xgydu7nZ5AEPRz1Mr0d0R">iletişim formumuzu</a> doldurabilirsiniz. Ayrıca <a href="mailto:cokkececibbva@gmail.com" target="_blank">cokkececibbva@gmail.com</a> adresine e-mail atabilirsiniz.
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr><td>&nbsp;</td></tr>
                                                                                        <tr>
                                                                                            <td align="center">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr><td height="40">&nbsp;</td></tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table><div class="yj6qo"></div><div class="adL">
                </div>
            </div><div class="adL">
            </div>
        </div>
    </div><div class="hi"></div><div class="WhmR8e" data-hash="0"></div>
</div>
