
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")
<body>
    @await Component.InvokeAsync("_NavBarUILayoutComponentPartial")

    @await Component.InvokeAsync("_DefaultCoverImageComponentPartial")

    @await Component.InvokeAsync("_RentACarListFilterComponentPartial")

    @await Component.InvokeAsync("_DefaultCarComponentPartial")

    @await Component.InvokeAsync("_AboutUsComponentPartial")

    @await Component.InvokeAsync("_ServiceComponentPartial")

    @await Component.InvokeAsync("_BecomeADriverComponentPartial")

    @await Component.InvokeAsync("_TestimonialComponentPartial")

    @await Component.InvokeAsync("_DefaultLast3BlogsComponentPartial")

    @await Component.InvokeAsync("_DefaultStatisticsComponentPartial")

    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")

    @await Component.InvokeAsync("_LoaderUILayoutComponentPartial")

    @await Component.InvokeAsync("_ScriptsUILayoutComponentPartial")
</body>
</html>

