@model CreatePricingDto

@{
    ViewData["Title"] = "CreatePricing";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">

        <h4 class="card-title">Yeni Ödeme Türü Periyodu Girişi</h4>
        <p class="card-subtitle mb-12">
            Ödeme  Alanına Veri Girişini Aşağıdaki Panelden Yapabilirsiniz. 
        </p>

        <form method="post">
            <div class="form-group">
                <label for="exampleInputName">Ödeme Türü</label>
                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Lütfen Ödeme Türünü Giriniz...">
            </div>

            <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
        </form>
    </div>
</div>


