@model List<ResultPricingDto>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int Count = 0;
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ödeme Türleri Alanı</h4>
                <p class="card-subtitle mb-4">
                    Araçların günlük, kiralık, aylık vb. kiralama opsiyonlarının yer aldığı sayfadır. Bu sayfa üzerinden yeni bir zaman periyodu eklenebilir, silinebilir veya güncellebenilir
                </p>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ödeme Türü Adı</th>
                                <th>Sil</th>
                                <th>Güncelleme</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var Pricing in Model)
                            {
                                Count++;

                                <tr>
                                    <td>@Count</td>
                                    <td>@Pricing.Name</td>
                                    <td><a href="/CarBookAdmin/Pricing/DeletePricing?PricingId=@Pricing.PricingId" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/CarBookAdmin/Pricing/GetPricing?PricingId=@Pricing.PricingId" class="btn btn-outline-warning">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <a href="/CarBookAdmin/Pricing/CreatePricing" class="btn btn-outline-primary">Yeni Ödeme Türü Girişi</a>
            </div>
        </div>
    </div>
</div>

