@model List<ResultServiceDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int Count = 0;
}


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hizmet Bilgileri Alanı</h4>
                <p class="card-subtitle mb-4">
                    Ana Sayfa ve hizmetler bölümünde yer alan hizmet listesinin admin tarafındaki işlemlerini aşağıdaki sayfadan gerçekleştirebilirsiniz.
                </p>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Hizmet Adı</th>
                                <th>Sil</th>
                                <th>Güncelleme</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Service in Model)
                            {
                                Count++;

                                <tr>
                                    <td>@Count</td>
                                    <td>@Service.Title</td>
                                    <td><a href="/CarBookAdmin/Service/DeleteService?ServiceId=@Service.ServiceId" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/CarBookAdmin/Service/GetService?ServiceId=@Service.ServiceId" class="btn btn-outline-warning">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <a href="/CarBookAdmin/Service/CreateService" class="btn btn-outline-primary">Yeni Hizmet Girişi</a>
            </div>
        </div>
    </div>
</div>
